<?php

use Leanpay\Payment\Api\Data\InstallmentInterface;
use Leanpay\Payment\Block\Installment\Pricing\Render\DefaultPriceBox;
use Leanpay\Payment\Helper\InstallmentHelper;
use Magento\Framework\Escaper;

/** @var DefaultPriceBox $block */
/** @var Escaper $escaper */

$financialProduct = $block->getFinancialProduct();
$vendorProductName = $block->getInstallmentVendorName($financialProduct);
$isPreCalculated = (bool)$vendorProductName;

if ($vendorProductName) {
    $price = $block->getLowestInstallmentPrice($vendorProductName);
} else {
    $price = $block->getLowestInstallmentPrice();
}

$viewKey = $block->getData('view_key') ?? InstallmentHelper::LEANPAY_INSTALLMENT_VIEW_OPTION_PRODUCT_PAGE;
$helper = $block->getInstallmentHelper();
$canShow = $helper->canShowInstallment($viewKey);
$fontSize = $helper->getFontSize($viewKey);
$color = $helper->getInstallmentColor();
$amount = intval(round($block->getAmount()));
?>
<?php if ($viewKey !== InstallmentHelper::LEANPAY_INSTALLMENT_VIEW_OPTION_PRODUCT_PAGE): ?>
    <?php if ($price && $canShow): ?>
        <div class="installment-price"
             style="color: <?= $escaper->escapeHtmlAttr($color) ?>;
                 font-size: <?= $escaper->escapeHtmlAttr($fontSize) ?>px;">
            <?= $escaper->escapeHtml($helper->getCategoryPriceBlock($amount, $price)); ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <?php if ($price && $canShow): ?>
        <div class="installment-wrapper" data-mage-init='{"Leanpay_Payment/js/installment":""}'>
            <span class="installment-wrapper-start"><?= $block->escapeHtml(__('ali')); ?></span>
            <div class="installment-additional-wrapper" style="font-size: <?= /* @noEscape */
            $fontSize ?>px;">
                <div class="installment-plans">
                    <div class="installment-block-wrapper">
                        <?php $list = $helper->getInstallmentList($amount, $vendorProductName); ?>
                        <span class="installment-block">
                            <?= $escaper->escapeHtml(__('Hitro in enostavno obročno odplačevanje')); ?>
                        </span>
                        <span class="installment-min-price">
                        <span class="installment-price"
                              style="background-color:<?= $escaper->escapeHtmlAttr($helper->getBackgroundColor()); ?>;">
                            <?= $escaper->escapeHtml(__('Že od')); ?>
                            <strong>
                                <?= $escaper->escapeHtml($helper->getProductPriceBlock($amount, $price)); ?>
                            </strong>
                        </span>
                        <span class="installment-message"
                              style="border: 1px solid <?= $escaper->escapeHtmlAttr($helper->getBackgroundColor()) ?>;">
                            <?= $escaper->escapeHtml(__('Vaš mesečni obrok')); ?>
                        </span>
                        </span>
                    </div>
                </div>
                <div class="installment-mouse">
                    <div class="installment-info">
                        <?php if ($helper->allowDownPayment()): ?>
                            <div class="installment-deposit">
                            <span class="deposit">
                                <?= $escaper->escapeHtml(
                                    __('+ %1 € polog', $helper->getDownPaymentRule($amount))
                                ); ?>
                            </span>
                            </div>
                        <?php endif; ?>
                        <div class="installment-logo-wrapper">
                            <span class="installment-logo-text">
                                <?= __('Izračun obrokov'); ?>
                            </span>
                            <span class="installment-logo-span">
                                <img class="installment-logo lazy"
                                     data-src="<?= /* @noEscape */
                                     $block->getLogo(); ?>" 
                                     width="85"
                                     height="25"
                                     alt="leapay-logo"/>
                            </span>
                        </div>
                    </div>
                    <div class="installment-tooltip hidden">
                        <div class="installment-title">
                            <img class="installment-logo"
                                 src="<?= /* @noEscape */
                                 $block->getLogo(); ?>"
                                 alt="leapay-logo"/>
                        </div>
                        <div class="installment-plans">
                            <div class="installment-lowest-amount">
                                <?php if ($helper->shouldRenderTooltipPriceBlock($amount, true)): ?>
                                    <span class="installment-lowest-message">
                                     <?= $escaper->escapeHtml(__('Želim čim nižji obrok')); ?>
                                    <strong><?= $escaper->escapeHtml($helper->getTooltipPriceBlock($amount, true, $vendorProductName)); ?></strong>
                                    </span>
                                <?php endif; ?>
                            </div>
                            <div class="installment-lowest-term">
                                <?php if ($helper->shouldRenderTooltipPriceBlock($amount, false)): ?>
                                    <span class="installment-lowest-message">
                                        <?= $escaper->escapeHtml(__('Odplačati želim čim prej')); ?>
                                    <strong><?= $escaper->escapeHtml($helper->getTooltipPriceBlock($amount, false, $vendorProductName)); ?></strong>
                                    </span>
                                <?php endif; ?>
                            </div>
                            <div class="installment-slider-term">
                                <div class="term-text">
                                    <?= $escaper->escapeHtml(__('Želim si izbrati svoje obroke')); ?>
                                </div>
                                <div class="term-html">
                                    <span class="installment_period">
                                    </span>
                                    <span class="installment_amount"></span>
                                </div>
                                <div class="installment-slider"></div>
                                <div class="total-html">
                                    <?php if (!$isPreCalculated): ?>
                                        <span><?= $escaper->escapeHtml(__('Informativni znesek za plačilo')); ?></span>
                                        <span class="total"></span>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <div class="installment-quick-information">
                            <?= $escaper->escapeHtml(
                                __('Leanpay omogoča hitro in enostavno obročno odplačevanje preko spleta. ') .
                                    __('Za obročno plačilo v košarici izberi Leanpay. ')); ?>
                        </div>
                        <div class="installment-links">
                            <a href="<?= $escaper->escapeUrl($helper->getCheckYourLimitURL()); ?>"
                               target="_blank"
                               rel="noopener noreferrer">
                                <span
                                    class="link-option"><?= $escaper->escapeHtml(__('Preveri svoj limit')); ?></span>
                            </a>
                            <a href="<?= $escaper->escapeUrl($helper->getMoreInfoURL()); ?>"
                               target="_blank"
                               rel="noopener noreferrer">
                                <span
                                    class="link-option"><?= $escaper->escapeHtml(__('Več informacij')); ?></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="installment-slider-data" style="display: none; visibility: hidden;">
            <?= $helper->getJsonConfig($amount, $vendorProductName) ?: ''; ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
