//
//  Common
//  ----------------------------------------------

& when (@media-common = true) {
    /* phpcs:ignore Magento2.Less.AvoidId.IdSelectorUsage */
    #am_ga4_general {
        .tooltip {
            &:hover .tooltip-content {
                opacity: 1;
                z-index: 20;
            }

            .tooltip-content {
                display: block;
                opacity: 0;
                transition: all .2s;
                z-index: -1;
            }
        }
    }

    /* phpcs:ignore Magento2.Less.AvoidId.IdSelectorUsage */
    #am_ga4_consent_mode_consent_types {
        .col-actions {
            display: none;
        }

        .col-actions-add {
            display: none;
        }
    }
}


