<div class="header-container header-style-1">
    
    <div class="header-top">
        <div class="container">
            <div class="row row-container">
                <div class="col-lg-5 col-md-5 col-sm-5 language-currency-top">
					<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('cms-static-top-support')->toHtml(); ?>
                    <?php echo $block->getChildHtml('language-header'); ?>
                    <?php echo $block->getChildHtml('currency-header'); ?>
                </div>

                <div class="col-lg-7 col-md-7 header-links-top">
                    <div class="toplinks">
                        <?php echo $block->getChildHtml('header.links'); ?>
                    </div>

                    <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('track-order')->toHtml(); ?>

                    <?php echo $block->getChildHtml('catalog.compare.link'); ?>
                </div>
            </div>
        </div>
    </div>

    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 logo-header">
                    <?php echo $block->getChildHtml('logo_theme'); ?>
                </div>

                <div class="col-lg-6 search-header">
                    <div class="searchbox-header">
                        <?php echo $block->getChildHtml('search-header-pro'); ?>
                    </div>
                </div>

                <div class="col-lg-3 cart-header">
                    <div class="minicart-header">
                        <div class="minicart-content">
                            <?php echo $block->getChildHtml('cart-header'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 sidebar-megamenu">
                    <div class="megamenu-content-sidebar">
                        <div class="btn-megamenu">
                            <a href="javascript:void(0)"
                               title="<?php echo __('All Department') ?>"><?php echo __('All Department') ?></a>
                        </div>

                        <div class="menu-ver-content">
                            <?php
                            if ($_config->getGeneral('menu_style') == 'megamenu') {
                                echo $block->getChildHtml('navigation-header-megamenu');
                            } else {
                                echo $block->getChildHtml('navigation-header');
                            }
                            ?>
                        </div>
                    </div>

                    <div class="navigation-mobile-container">
                        <?php echo $block->getChildHtml('navigation.mobile'); ?>
                    </div>
                </div>

                <div class="col-lg-9 main-megamenu">
                    <div class="navigation-container">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('megamenu-horizontal')->toHtml(); ?>
                       <!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
