<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Google Analytics GA4 by Amasty
 */ /** @var \Amasty\GA4\Block\Adminhtml\System\Config\InformationBlocks\MobileDetectNotification $block */ ?>
<?php /** @var \Magento\Framework\Escaper $escaper */ ?>
<div>
    <p class="message message-notice">
        <?= $escaper->escapeHtml($block->getNotificationText()) ?>
    </p>
</div>
