<?php /** @var \Amasty\Extrafee\Block\Cart\Fee\Options $block */ ?>

<div data-amexfee-js="cart"
     data-bind="scope:'block-amasty-extrafee-summary'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "[data-amexfee-js='cart']": {
                "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout(); ?>
            }
        }
    </script>
</div>
