<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

$_config = $this->helper('Sm\Shopping\Helper\Data');
$footerStyle = $_config->getThemeLayout('footer_style');
?>

<?php if ($_config->getAdvanced('show_gototop')) { ?>
    <a id="yt-totop-fix" href="javascript:void(0)" title="Go to Top"></a>
<?php } ?>

<?php if ($footerStyle == "footer-1") { ?>
    <div class="footer-container footer-style-1">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-1-content')->toHtml(); ?>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <?php if ($_config->getAdvanced('custom_copyright')) { ?>
                            <address><?php echo $_config->getAdvanced('copyright_content') ?></address>
                        <?php } else { ?>
                            <address><?php /* @escapeNotVerified */
                                echo $block->getCopyright() ?></address>
                        <?php } ?>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } else if ($footerStyle == "footer-2") { ?>
    <div class="footer-container footer-style-2">
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-2-content')->toHtml(); ?>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <?php if ($_config->getAdvanced('custom_copyright')) { ?>
                            <address><?php echo $_config->getAdvanced('copyright_content') ?></address>
                        <?php } else { ?>
                            <address><?php /* @escapeNotVerified */
                                echo $block->getCopyright() ?></address>
                        <?php } ?>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php } ?>
