<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile


?>
<div class="block newsletter block-subscribe">
    <form class="form subscribe"
        novalidate
        action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
        method="post"
        data-mage-init='{"validation": {"errorClass": "mage-error"}}'
        id="newsletter-validate-detail">
        <div class="block-content">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('newsletter_coupon')->toHtml();?>
            <div class="field newsletter input-box">
                <div class="block-title"><h3><?php /* @escapeNotVerified */ echo __('Sign up to Newsletter') ?></h3></div>
                <div class="control acc">
                    <input name="acceptance" type="checkbox" id="newsletter-cb" class="input-checkbox"
                           data-validate="{required:true}"/>
                    <label class="label" for="acceptance"><span><?php /* @escapeNotVerified */ echo __("I accept <a href='/privacy-policy' target='_blank'>privacy policy</a>") ?></span></label>
                </div>

                <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="inp-outer">
                    <div class="control inp">
                        <input name="email" type="email" id="newsletter" class="input-text"
                                    placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                                    data-validate="{required:true, 'validate-email':true}"/>
                    </div>
                    <div class="actions">
                        <button class="action subscribe button" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                            <span><?php /* @escapeNotVerified */ echo __('Sign up') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
