<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getStoreLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>

<?php if ($_attributeValue): ?>
<div class="product attribute <?= /* @escapeNotVerified */ $_className ?>">
    <?php if ($_attributeLabel != 'none'): ?><strong class="type"><?= /* @escapeNotVerified */ $_attributeLabel ?></strong><?php endif; ?>
    <div class="value" <?= /* @escapeNotVerified */ $_attributeAddAttribute ?>><?= /* @escapeNotVerified */ $_attributeValue ?></div>
</div>
<?php endif; ?>
<?=$_product->getAdditionalDetails()?>

<div id="ccs-feature-icons"></div>
    <div id="ccs-logos"></div>
    <div id="ccs-inline-content"></div>

    <script type='text/javascript'>
    var ccs_cc_args = ccs_cc_args || [];
    
    // Biro.si Epson Product Page
    ccs_cc_args.push(['mf', '<?php echo $_product->getAttributeText('manufacturer');?>']);
    ccs_cc_args.push(['pn', '<?php echo $_helper->productAttribute($_product, $_product->getSku(), 'sku');?>']);
    ccs_cc_args.push(['lang', 'SL']);
    ccs_cc_args.push(['market', 'SI']);
    
    (function () {
        var o = ccs_cc_args; o.push(['_SKey', '22e4ec2b']); o.push(['_ZoneId', '572910c99e']); 
        var sc = document.createElement('script'); sc.type = 'text/javascript'; sc.async = true;
        sc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.cs.1worldsync.com/jsc/h1ws.js';
        var n = document.getElementsByTagName('script')[0]; n.parentNode.insertBefore(sc, n);
    })();
</script>