<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_code = 'printer';
//$_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
$_attributeValue = $_product->getResource()->getAttribute($_code)->getFrontend()->getValue($_product);
?>
<?php if ((!is_null($_attributeValue)) && (!empty($_attributeValue))): ?>
    <div class="packaging-content" <?php  echo "Za tiskalnike";?>>
		<?php foreach(explode(',',$_attributeValue) as $value): ?>
			<p><?php echo $value; ?></p>
		<?php endforeach;?>
	</div>
<?php endif; ?>