#chart {
    max-width: 650px;
    margin: 35px auto;
}

.dropdown-content {
    padding: 0 5px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#eu-price-history-log-button.collapsible {
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #EEE;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
#eu-price-history-log-button.active, #eu-price-history-log-button.collapsible:hover {
    background-color: #ccc;
}

#eu-price-history-log-button.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
#eu-price-history-log-button.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.minimal_price_in_30 { font-size: 10px; }