<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Extra Fee for Magento 2
 */
/** @var $block \Amasty\Extrafee\Block\Adminhtml\Fee\Edit\Tab\Option\Field */

use Magento\Store\Model\Store;

$stores = $block->getStoresSortedBySortOrder();
$values = $block->getOptionValues();
?>

<fieldset class="fieldset">
    <div id="manage-options-panel" class="selected-type-options" data-index="fee_options_select_container" data-amexfee-js="options">
        <table class="admin__control-table amexfee-options-table" data-index="fee_options_select">
            <thead>
                <tr id="attribute-options-table">
                    <th class="col-draggable"></th>
                    <th class="col-default control-table-actions-th">
                        <?= $block->escapeHtml(__('Is Default')) ?>
                    </th>
                    <th class="col-price control-table-actions-th">
                        <?= $block->escapeHtml(__('Price')) ?>
                    </th>
                    <th class="col-price-type control-table-actions-th">
                        <?= $block->escapeHtml(__('Type')) ?>
                    </th>
                    <?php foreach ($stores as $_store): ?>
                        <th<?php if ($_store->getId() == Store::DEFAULT_STORE_ID): ?> class="amexfee-cell -required"<?php endif; ?>>
                            <?= $block->escapeHtml($_store->getName()) ?>
                        </th>
                    <?php
                    endforeach;
                    $storeTotal = count($stores) + 5; ?>
                    <th class="col-delete"></th>
                </tr>
            </thead>
            <tbody data-amexfee-js="options-container" data-role="options-container"></tbody>
            <tfoot>
                <tr>
                    <th colspan="<?= (int)$storeTotal; ?>" class="col-actions-add">
                        <button id="add_new_option_button"
                                class="action- scalable add"
                                data-action="add_new_row"
                                title="<?= $block->escapeHtmlAttr(__('Add Option')) ?>"
                                type="button">
                            <?= $block->escapeHtml(__('Add Option')) ?>
                        </button>
                    </th>
                </tr>
            </tfoot>
        </table>
        <input type="hidden" id="option-count-check" value="" />
    </div>
    <input type="hidden" data-amxexfee-js="required-options" class="required-entry" />
    <script id="row-template" type="text/x-magento-template">
        <tr>
            <td class="col-draggable">
                <div
                    data-role="draggable-handle"
                    class="draggable-handle"
                    title="<?= $block->escapeHtmlAttr(__('Sort Option')) ?>"></div>
                <input data-role="order"
                       type="hidden"
                       name="option[order][<%- data.id %>]"
                       value="<%- data.sort_order %>"/>
            </td>
            <td class="col-default control-table-actions-cell">
                <input class="input-radio"
                       type="<%- data.intype %>"
                       name="default[]"
                       value="<%- data.id %>"
                       <%- data.checked %> />
            </td>
            <td class="col-price">
                <input
                    class="validate-number input-text admin__control-text"
                    name="option[price][<%- data.id %>]"
                    type="text"
                    value="<%- data.price %>"/>
            </td>
            <td class="col-price-type">
                <select class="select admin__control-select"
                        name="option[price_type][<%- data.id %>]"
                        data-item-select-id="<%- data.id %>"
                        id="option_price_type__select">
                    <?php foreach ($block->getPriceTypes() as $_priceType): ?>
                        <option value="<?= $block->escapeHtmlAttr($_priceType['value']) ?>">
                            <?= $block->escapeHtml(__($_priceType['label'])) ?>
                        </option>
                    <?php endforeach;?>
                </select>
                <input type="hidden" name="price_types" data-amexfee-js="price-types" data-item-id="<%- data.id %>" id="option_price_type_<%- data.id %>" value="<%- data.price_type %>"/>
            </td>
            <?php foreach ($stores as $_store): ?>
                <?php $_class = $_store->getId() == Store::DEFAULT_STORE_ID ? 'required-entry required-option ' : '';?>
                <td class="col-<%- data.id %>">
                    <input name="option[value][<%- data.id %>][<?= $block->escapeHtmlAttr($_store->getId()) ?>]"
                           value="<%- data.store<?= $block->escapeHtmlAttr($_store->getId()) ?> %>"
                           class="<?= $block->escapeHtmlAttr($_class);?> input-text"
                           type="text"/>
                </td>
            <?php endforeach; ?>
            <td id="delete_button_container_<%- data.id %>" class="col-delete">
                <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" />
                <button id="delete_button_<%- data.id %>"
                        class="action- scalable delete delete-option"
                        title="<?= $block->escapeHtmlAttr(__('Delete')) ?>"
                        type="button" >
                    <?= $block->escapeHtml(__('Delete')) ?>
                </button>
            </td>
        </tr>
    </script>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Catalog/js/options": {
                "attributesData": <?= /* @noEscape */  json_encode($values, JSON_HEX_QUOT) ?>,
                "isSortable": 1
            },
            "Amasty_Extrafee/js/init-options": {}
        }
    }
    </script>
</fieldset>
