<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Extra Fee for Magento 2
 */
/** @var \Magento\Backend\Block\Widget\Form\Renderer\Fieldset $block */
?>
<?php $_element = $block->getElement() ?>
<?php $_jsObjectName = $block->getFieldSetId() != null ? $block->getFieldSetId() : $_element->getHtmlId() ?>
<div class="rule-tree">
    <fieldset id="<?= $block->escapeHtmlAttr($_jsObjectName) ?>" <?= /* @noEscape */ $_element->serialize(['class']) ?>
              class="fieldset-wrapper fieldset">
        <strong class="title"><span><?= $block->escapeHtml($_element->getLegend()) ?></span></strong>
        <br>
    <?php if ($_element->getComment()): ?>
        <div class="messages">
            <div class="message message-notice"><?= $block->escapeHtml($_element->getComment()) ?></div>
        </div>
    <?php endif; ?>
    <div class="rule-tree-wrapper">
        <?= $_element->getChildrenHtml() ?>
    </div>
    </fieldset>
</div>
<script>
require([
    "Magento_Rule/rules",
    "prototype"
], function(VarienRulesForm) {
    window.<?= /* @noEscape */ $_jsObjectName ?> = new VarienRulesForm(
        '<?= /* @noEscape */ $_jsObjectName ?>',
        '<?= /* @noEscape */ $block->getNewChildUrl() ?>'
    );
    <?php if ($_element->getReadonly()): ?>
        <?= /* @noEscape */ $_element->getHtmlId() ?>.setReadonly(true);
    <?php endif; ?>
});
</script>
