<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Visual Merchandiser for Magento 2
 */
/**
 * @var \Amasty\VisualMerch\Block\Adminhtml\Conditions $block
 * @var \Magento\Framework\Escaper $escaper
 */
?>
<div id="am-condition-from-wrapper">
    <?= $block->getConditionsForm()->toHtml(); ?>
</div>
<?= $block->getConditionsButton()->toHtml(); ?>
<script>
    require([
        "Amasty_VisualMerch/js/rules",
        "prototype"
    ], function (AmastyRulesForm) {
        window.category_formrule_conditions_fieldset_ = new AmastyRulesForm('category_formrule_conditions_fieldset_', '<?= /* @noEscape */ $block->getConditionFormNewChildUrl(
        ) ?>', '<?= /** @noEscape */ $block->getConditionFormImportUrl() ?>');
        window.allProductsCount = <?= (int)$block->getAllProductsCount() ?>;
    });
</script>
