<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header $block
 */

$_config = $this->helper('Sm\Shopping\Helper\Data');
$footerStyle = $_config->getThemeLayout('footer_style');
?>

<?php if ($_config->getAdvanced('show_gototop')) { ?>
    <a id="yt-totop-fix" href="javascript:void(0)" title="Go to Top"></a>
<?php } ?>


<div class="footer-container footer-style-1">
    <?php
    $html = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer-1-content')->toHtml();
    $modifiedHtml = preg_replace('/<img([^>]*)src=[\'"](.*?)[\'"]([^>]*)>/i', '<img$1data-src="$2" class="lazy"$3>', $html);
    echo $modifiedHtml;
    ?>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <?php if ($_config->getAdvanced('custom_copyright')) { ?>
                        <address><?php echo $_config->getAdvanced('copyright_content') ?></address>
                    <?php } else { ?>
                        <address><?php /* @escapeNotVerified */
                            echo $block->getCopyright() ?></address>
                    <?php } ?>
                </div>

                <div class="col-lg-6 col-md-6">
                    <?php $paymenthtml =  $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('payment-footer')->toHtml();
                    $modifiedpaymentHtml = preg_replace('/<img([^>]*)src=[\'"](.*?)[\'"]([^>]*)>/i', '<img$1data-src="$2" class="lazy"$3>', $paymenthtml);
                    echo $modifiedpaymentHtml; ?>
                </div>
            </div>
        </div>
    </div>
</div>
