<?php
/**
 * @see \Magento\Customer\Block\Form\Login
 * @var \Lof\Mobilelogin\Block\Form\Login $block
 * 
 * @codingStandardsIgnoreFile
 */
?>
<?php
$helper      = $this->helper("Lof\Mobilelogin\Helper\Data");
$enabled_otp = $helper->getEnableOtp();
$opt_resend = $this->getConfig('sms_otp/opt_resend');
$opt_length = $this->getConfig('sms_otp/opt_length');
$opt_resend = $helper->getConfig('sms_otp/opt_resend');
$initialCountry = $helper->getConfig('settings_input/initial_country');
$allow_country = $helper->getconfig('settings_input/sallowspecific');
$specificcountry = $helper->getConfig('settings_input/specificcountry');
$array_specificcountry = explode(',',strtolower($specificcountry));
$preferredCountries = $helper->getConfig('settings_input/preferredcountries');
$array_preferredCountries = explode(',',strtolower($preferredCountries));
$country = array();
$countrys = array();

foreach ($array_preferredCountries as $key => $array_preferredCountries) {
    $countrys[] = '"'.$array_preferredCountries.'"';
}
foreach ($array_specificcountry as $key => $_array_specificcountry) {
    $country[] = '"'.$_array_specificcountry.'"';
}
$countrys = implode(',', $countrys); 
$country = implode(',', $country); 
$_SESSION["isVerifyMobile"] = 0;
?>
<div class="sms-otp-dialog" id="sms-otp-dialog" style="display: none;">
<form class="form form-edit-mobile" action="<?= $this->getUrl('mobilelogin/account/loginPost'); ?>" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?= $block->escapeHtmlAttr(__("* Required Fields"));?>" autocomplete="off" novalidate="novalidate">
    <fieldset class="fieldset info">
        <?= $block->getBlockHtml('formkey')?>
        <div class="field mobile vsms-field-container required">
            <label for="mobile-number" class="label"><span><?= $block->escapeHtml(__('Mobile Number'));?></span></label>
            <div class="control">
                <input type="tel" name="mobile_number_input"  id="mobile-number-input" value="" class="input-text mobile-number required-entry validate-phone-number otp-verify mage-error" aria-required="true" autocomplete="off" aria-invalid="true" data-validate="{required:true}" aria-describedby="mobile-number-input-error">       
                <input type="hidden" name="mobile_number" id="mobile-number" aria-required="true" value="">
                <input type="hidden" name="mobilenumber" id="mobilenumber" aria-required="true" value="">
                <input type="hidden" name="country_code" id="country_code" aria-required="true" value="">
                <input type="hidden" name="mobile_otp" id="mobile-otp" aria-required="true">
            </div>
        </div>
        <div class="sms-otp-step-1">
            <p><?= $block->escapeHtml(__('Click to the button below to get OTP code to your phone number '));?><span class="sms-otp-mobile"></span></p>
            <a href="javascript:;" class="action primary send-otp-btn" id="send-otp-btn"><span><?= $block->escapeHtml(__('Get OTP'));?></span></a>
        </div>
        <div class="sms-otp-step-2" style="display:none">
            <p><?= __('A text message with a %1-digit verification code has been sent to ',$opt_length);?><span id="sms-otp-dialog-mobile" class="sms-otp-mobile"></span></p>
            <input type="text" name="sms_otp_code" id="sms-otp-input" value="" class="input-text required-entry" placeholder="<?= $block->escapeHtmlAttr(__("Your OTP"));?>" autocomplete="off">
            <a href="javascript:;" class="resend-otp-btn" id="resend-otp-btn" data-time="<?= $opt_resend; ?>"><?= $block->escapeHtml(__('Resend after %1 seconds',$opt_resend));?></a>
        </div>
    </fieldset>
    <div class="actions-toolbar" style="display:none">
        <div class="primary">
            <button type="submit" class="action save primary" title="Save"><span><?= $block->escapeHtml(__('Login'));?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="javascript:;"><span><?= $block->escapeHtml(__('Cancel'));?></span></a>
        </div>
    </div>
</form>
</div>
<script type="text/javascript">
var URL_SEND_OTP = '<?= $this->getUrl('sms/otp/otp'); ?>';
require([
    'jquery',
    'Magento_Ui/js/modal/modal',
    'Magento_Ui/js/modal/alert',
    'Lof_SmsNotification/js/intlTelInput.min',
    'Lof_SmsNotification/js/utils',
    'mage/mage',
    'mage/validation',
    'loader',
    'domReady!'
], function($, modal, alert){
    var enabled_otp = <?= (int)$enabled_otp;?>;
    $(document).ready(function(){
      $("#mobile-number-input").keyup(function(){
        $("#mobilenumber").val($("#mobile-number-input").val());
      });
      if (enabled_otp && $(".form-login .action.login").length) {
        var newButton = $('<a class="action primary btn-login-otp" href="javascript:;"><span><?= $block->escapeHtmlAttr(__("Sign In with OTP")); ?></span></a>');
        $(".form-login .action.login").parent().append(newButton);
        newButton.on("click", () => {
            $('#sms-otp-dialog').modal('openModal');
        })
      }
    });
	function initMobileInput(){
	   $("#mobile-number-input").intlTelInput({
            <?php if($initialCountry) : ?>
            initialCountry: '<?= $initialCountry; ?>',   
            <?php else : ?>
            initialCountry: 'auto',    
            <?php endif; ?>
            geoIpLookup: function(callback) {
                $.get("https://ipinfo.io?token=d9a48054457087", function() {}, "jsonp").always(function(resp) {
                   var countryCode = (resp && resp.country) ? resp.country : "";
                   callback(countryCode);
                });
            },
            <?php if($allow_country) : ?>
            onlyCountries: [<?= $country; ?>],  
            <?php else : ?>
            onlyCountries: [],  
            <?php endif; ?>    
            preferredCountries:[<?= $countrys;?>]       
        }).done(function() {
                $('#mobile-number').val($("#mobile-number-input").intlTelInput("getNumber"));
                $('#mobilenumber').val($("#mobile-number-input").val());
                var countryData = $("#mobile-number-input").intlTelInput("getSelectedCountryData");
                $('#country_code').val(countryData.iso2);
                $('#mobile-number-input').on('keyup', function() {
                    validatePhoneNum();
                }).on("countrychange", function(e, countryData) {
                    validatePhoneNum();
                    $('#country_code').val(countryData.iso2);
                    $('#mobilenumber').val($("#mobile-number-input").val());
            });
        });
	}

    /**
     * Validate phone number
     */
    function validatePhoneNum(){
        var number = $("#mobile-number-input").intlTelInput("getNumber");
        if(number && number.length){
        	$('#mobile-number-input').addClass('otp-validated');
        }else{
        	$('#mobile-number-input').removeClass('otp-validated');
        }
        
        $('#mobile-number').val(number);
        $('.sms-otp-mobile').html($("#mobile-number-input").intlTelInput("getNumber", intlTelInputUtils.numberFormat.INTERNATIONAL)); /*intlTelInputUtils.numberFormat.NATIONAL*/
    }

    /**
     * Send otp
     */
    function sendOtp(isResend){
        $('.sms-otp-step-2').hide();
        $('.actions-toolbar').hide();
    	$.ajax({
      		  url: URL_SEND_OTP,
      		  method: "POST",
      		  data: {
          		    mobile : $("#mobile-number").val(),
                    mobilenumber : $("#mobile-number").val(),
                    country_code: $("#country_code").val(),
          		    resend : isResend,
                    isLogin: 1
    		  },
      		  dataType: "json"
    		}).done(function( response ){
    			if(response.success){
    				$('.sms-otp-step-1').hide();
    				$('.sms-otp-step-2').show();
                    $('.actions-toolbar').show();
    				$('#mobile-number-id').val(response.mobile_id);
    				runCountDown();
    			}else{
    				alert({
        				modalClass: 'confirm ves-error',
                        title: "<?= $block->escapeHtmlAttr(__("Verify Error"));?>",
                        content: response.msg,
                    });
    			}
    			
    	});
    }
    
    function runCountDown(){
        var resendBtn = $('#resend-otp-btn');
        if(!resendBtn.hasClass('running')){
        	resendBtn.addClass('running');
        }

        if(!resendBtn.data('couting')){
        	!resendBtn.data('couting', resendBtn.data('time'));
        }
        var count = parseInt(resendBtn.data('couting'));
        count --;
        resendBtn.data('couting', count);
        resendBtn.html('<?= $block->escapeHtmlAttr(__("Resend after AAA seconds")); ?>'.replace('AAA', count));

        if(count == 0) {
        	resendBtn.removeClass('running');
        	resendBtn.html('<?= $block->escapeHtmlAttr(__("Resend OTP"));?>');
            return;
        }
        setTimeout(function(){runCountDown()}, 1000);
    }

    initMobileInput();
	    
    $('#send-otp-btn').click(function(){
    	sendOtp(0);
    });

    $('#resend-otp-btn').click(function(){
        if($('#resend-otp-btn').hasClass('running')){
        	return false;
        }
    	sendOtp(1);
    	return false;
    });
    

    var rules = {
	   'validate-phone-number': [
          function (value, element) {
              return $(element).intlTelInput("isValidNumber");
          },
          '<?= $block->escapeHtmlAttr(__("The mobile number is not valid."));?>'
        ],
        'otp-verify': [
            function (value, element) {                      
                if(!$(element).hasClass('otp-validated')){
                	$('.sms-otp-step-1').show();
    				$('.sms-otp-step-2').hide();
                	return false;
                }
                return true;
            },
            ''
        ],
    };
    
    $.each(rules, function (i, rule) {
        rule.unshift(i);
        $.validator.addMethod.apply($.validator, rule);
    });

    var options = {
            type: 'popup',
            modalClass:'otp-verify-modal',
            responsive: true,
            innerScroll: true,
            title: '<?= $block->escapeHtmlAttr(__("Login with Phone Number and OTP"));?>',
            buttons: []
        };
    var popup = modal(options, $('#sms-otp-dialog'));
});
</script>   
<script>
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = 'null'
        
        dataForm.mage('validation', {
            ignore: ':hidden'
        });

    });
</script>