<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Extra Fee for Magento 2
 */
/** @var $block \Amasty\Extrafee\Block\Sales\CreditMemo\Create\Fee */
$value = 0;
?>
<?php foreach ($block->getCreditMemoFees() as $fee): ?>
    <?php if ($fee->getChosenTotal() !== null): ?>
        <?php $value = $fee->getChosenTotal() ?>
    <?php else: ?>
        <?php $value = $fee->getBaseTotalAmount() - $fee->getBaseTotalAmountRefunded() ?>
    <?php endif; ?>
    <tr>
        <td class="label"><?= $block->escapeHtml('Extra Fee: ' . $fee->getFeeLabel() . ' (' . $fee->getFeeOptionLabel() . ')') ?>
            <div id="extra_fee_label_<?= /* @noEscape */ $fee->getFeeId() . '_' . /* @noEscape */ $fee->getOptionId() ?>"></div>
        </td>
        <td>
            <input type="text"
                   name="creditmemo[extra_fee_<?= /* @noEscape */ $fee->getFeeId() . '_' . /* @noEscape */ $fee->getOptionId() ?>]"
                   value="<?= $block->escapeHtmlAttr($value) ?>"
                   class="input-text admin__control-text extra_fee"
                   id="extra_fee_input_<?= /* @noEscape */ $fee->getFeeId() . '_' . /* @noEscape */ $fee->getOptionId() ?>" />
        </td>
    </tr>
<?php endforeach; ?>
