<!-- ko if: isDisplayed() -->
<!-- ko if: taxUtils.isBothPricesDisplayed('total') || taxUtils.isExcludingDisplayed('total') -->
<tr class="-excluding-tax"
    data-bind="mageInit: {'toggleAdvanced':{
                                    'selectorsToggleClass': selectorsToggleClass,
                                    'baseToggleClass': baseToggleClass,
                                    'toggleContainers': '[data-amexfee-js=\'excluding-tax\']'}}">
    <th class="mark amexfee-mark" scope="row" colspan="1" translate="'Additional fees'"></th>
    <td class="amount amexfee-amount">
        <!-- ko text: getValue('value_excl_tax') --><!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- ko if: taxUtils.isBothPricesDisplayed('total') || taxUtils.isIncludingTaxDisplayed('total') -->
<tr class="-including-tax"
    data-bind="mageInit: {'toggleAdvanced':{
                                    'selectorsToggleClass': selectorsToggleClass,
                                    'baseToggleClass': baseToggleClass,
                                    'toggleContainers': '[data-amexfee-js=\'including-tax\']'}}">
    <th class="mark amexfee-mark" scope="row" colspan="1">
        <translate args="'Additional fees (Incl. Tax)'" if="taxUtils.isBothPricesDisplayed('total')"/>
        <translate args="'Additional fees'" ifnot="taxUtils.isBothPricesDisplayed('total')"/>
    </th>
    <td class="amount amexfee-amount">
        <!-- ko text: getValue('value_incl_tax') --><!-- /ko -->
    </td>
</tr>
<!-- /ko -->
<!-- /ko -->
