<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.frontend_name":"Store Name"
} @-->
<!-- End Content -->
</td>
</tr>
<tr>
    <td class="footer">
    	<hr>
        <p>Rok dostave blaga je praviloma dva (2) do tri (3) delovne dni od prejetega naročila.&nbsp;<br />V primeru, da se dobavni rok določenih izdelkov - zaradi velikega povpra&scaron;evanja ali trenutne zaloge - nekoliko podalj&scaron;a, vas bomo o tem nemudoma obvestili.<br /><br />V kolikor ste izbrali plačilo po povzetju bomo naročeno poslali na va&scaron; naslov in vas o tem obvestili.<br /><br /><span style="color: #ff0000;"><strong>V kolikor ste izbrali plačilo po predračunu upo&scaron;tevajte to prejeto naročilo&nbsp;kot predračun,</strong>&nbsp;</span><strong><span style="color: #ff0000;">vendar s plačilom počakajte na potrditev zaloge.<br /></span></strong>Navedeni znesek plačajte<span style="color: #ff0000;"><span style="color: #000000;">&nbsp;na račun<strong>:&nbsp;SI56 03160-1001470944</strong>&nbsp;(SKB), swift-bic:&nbsp;<strong>SKBASI2X,</strong><strong>&nbsp;</strong>koda plačila:&nbsp;<strong>ADVA,</strong>&nbsp;prosimo,&nbsp;<strong>obvezn<wbr />o navedite sklicno &scaron;tevilko</strong>, ki je enaka &scaron;tevilki naročila.<br />Naročeno bo odposlano&nbsp;<u>po prejemu plačila ali potrdila o izvr&scaron;enem plačilu</u>!<br />Primer&nbsp;izpolnjenega UPN&nbsp;je viden v priponki va&scaron;ega naročila.</span></span></p>
        <p><span style="color: #000000;">Paketomati&nbsp; GLS omogočajo brezkontaktni prevzem paketa na&nbsp;<a href="http://gls.musvc2.net/e/t?q=5%3dOfJUM%26I%3dI%26F%3dLZGZN%26L%3dEVLZNY%26E%3dE8L0P_6smw_G3_Bxgr_LC_6smw_F8GTA.99LuDy.03E_Bxgr_LC130P_6smw_F8x_Oeuj_YtN3BA7B_Oeuj_Zt3u8oE3A_6smw_G6KvrEMoFStzjVHV8Th6at1wG8lquc_Bxgr_Lc9K0_Oeuj_ZrK286A8D%26r%3dEEP05L.KsL%263P%3dEUSdJU" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://gls.musvc2.net/e/t?q%3D5%253dOfJUM%2526I%253dI%2526F%253dLZGZN%2526L%253dEVLZNY%2526E%253dE8L0P_6smw_G3_Bxgr_LC_6smw_F8GTA.99LuDy.03E_Bxgr_LC130P_6smw_F8x_Oeuj_YtN3BA7B_Oeuj_Zt3u8oE3A_6smw_G6KvrEMoFStzjVHV8Th6at1wG8lquc_Bxgr_Lc9K0_Oeuj_ZrK286A8D%2526r%253dEEP05L.KsL%25263P%253dEUSdJU&amp;source=gmail&amp;ust=1619848653032000&amp;usg=AFQjCNEn5eW8LOp835xN4Yttfzq7ioYDyg">70-ih lokacijah po vsej Sloveniji</a>.<br /></span><span style="color: #000000;">Paketomati Po&scaron;te Slovenije pa na&nbsp;&nbsp;<a href="https://www.posta.si/zasebno-site/Documents/Seznami/PS%20Paketomat%20-%20seznam%20za%20naslavljanje.pdf" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://www.posta.si/zasebno-site/Documents/Seznami/PS%2520Paketomat%2520-%2520seznam%2520za%2520naslavljanje.pdf&amp;source=gmail&amp;ust=1619848653032000&amp;usg=AFQjCNEAcIeTnHYJ9e1Jo-g17_1JTdo5FQ">24 lokacij po Sloveniji</a></span></p>
        <p>Z naročilom potrjujete, da ste seznanjeni&nbsp;z na&scaron;imi prodajnimi pogoji in da se z njimi strinjate.<br />Za ogled prodajnih pogojev obi&scaron;čite&nbsp;<a href="http://biro.si/si/pogoji-d29.shtml" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://biro.si/si/pogoji-d29.shtml&amp;source=gmail&amp;ust=1619848653032000&amp;usg=AFQjCNG7AojAr5jyArM0cs6hzprHp-NNtg">http://biro.si/si/pogoji-d29.<wbr />shtml</a>.</p>
        <p><strong>Pri plačilu po povzetju</strong>&nbsp;boste dostavni službi plačali z gotovino, znesek plačila je enak vrednosti naročila, dodatnih stro&scaron;kov ni. Odkupna provizija je na&scaron; stro&scaron;ek.<br />Dostavna služba GLS omogoča plačilo odkupnine z gotovino ali kartico.<br /><br />V kolikor GLS-u naročite prevzem po&scaron;iljke na črpalkah Petrol vam bo Petrol ob prevzemu obračunal svoje manipulativne stro&scaron;ke na katere nimamo vpliva. Za po&scaron;iljko brez odkupa 0,45&euro;, za vročitev paketa z odkupnino pa 1,50 &euro;. Znesek velja za vsak posamezni vročeni paket.</p>
        <p><strong>Pri izboru plačila Kredit LON</strong>&nbsp;- je potrebno upo&scaron;tevati pogoje na&nbsp;<a href="https://biro.si/si/kredit-d74.shtml" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=https://biro.si/si/kredit-d74.shtml&amp;source=gmail&amp;ust=1619848653032000&amp;usg=AFQjCNEiyyaDIp0cWncBOVwHkwyr3ZRyDw">https://biro.si/si/kredit-d74.<wbr />shtml</a>.<br /><br />Za dodatne informacije in pomoč&nbsp;pokličite na 01/ 429 22 37&nbsp;ali&nbsp;po&scaron;ljite&nbsp;e-mail&nbsp;<a href="mailto:biro@biro.si" target="_blank" rel="noopener">biro@<wbr />biro.si</a><br /><span>Podjetje&nbsp;<a href="http://biro.si/" target="_blank" rel="noopener" data-saferedirecturl="https://www.google.com/url?q=http://BIRO.SI&amp;source=gmail&amp;ust=1619848653032000&amp;usg=AFQjCNHv_iKL2dgwLl3wpq_ezddUdZqvQw">BIRO.SI</a>&nbsp;d.o.o. je z vami že&nbsp;od 30.&nbsp;03.2006.&nbsp;</span></p>

    </td>
</tr>
</table>
</td>
</tr>
</table>
<!-- End wrapper table -->
</body>
