/** General Purpose **/
.leanpay img.payment-logo {
    vertical-align: middle;
    margin-right: 5px;
    height: 35px;
}

.installment-logo-wrapper {
    cursor: pointer;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 5px;
}

.installment-logo-wrapper span {
    line-height: 30px;
    margin-right: 5px;
}

.installment-logo-wrapper .installment-logo {
    height: 25px;
    position: relative;
    top: -2px;
    margin-left: 5px;
}

.leanpay label.label {
    display: inline-block;
}

.leanpay label.label span {
    vertical-align: sub;
}

.leanpay .instructions {
    margin: 20px 0 0;
}

.installment-additional-wrapper .installment-tooltip.hidden {
    display: none;
}

.installment-min-price .installment-price {
    color: #ffffff;
}

.installment-block-wrapper {
    font-size: 14px;
    padding: 5px;
}

.installment-block-wrapper .installment-block {
    margin-bottom: 5px;
    margin-top: 5px;
}

.installment-min-price .installment-price,
.installment-min-price .installment-message {
    line-height: 40px;
    padding: 7px;
}

.installment-min-price .installment-message {
    padding: 6px;
}

.installment-additional-wrapper .installment-plans {
    width: 100%;
}

.installment-additional-wrapper .installment-plans,
.installment-additional-wrapper .installment-tooltip,
.installment-additional-wrapper .installment-title,
.installment-block-wrapper,
.installment-lowest-message {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.installment-lowest-message {
    margin: 5px 0;
}

.installment-additional-wrapper .installment-tooltip {
    -webkit-box-shadow: -2px -1px 10px 3px #a7a7a7;
    box-shadow: -2px -1px 10px 3px #a7a7a7;
    border-radius: 3px;
    background: #ffffff;
    position: absolute;
    z-index: 1000;
    padding: 15px;
    max-width: 75%;
}

.installment-wrapper {
    position: relative;
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
}

.installment-additional-wrapper .installment-title,
.installment-slider-term .term-html,
.installment-slider-term .total {
    font-weight: bold;
}

.installment-additional-wrapper .installment-title .title-block,
.installment-additional-wrapper .installment-quick-information {
    margin: 5px 0;
}

.installment-wrapper-start {
    position: absolute;
    top: -11px;
    left: 50%;
    padding: 0 10px;
    background: #ffffff;
}

.installment-deposit {
    color: #9c9b9b;
}

.installment-links a:last-child {
    border-left: 1px solid #a7a7a7;
    padding-left: 5px;
}

.installment-info img {
    cursor: pointer;
}

.installment-slider-term {
    width: 100%;
}

.installment-additional-wrapper .installment-tooltip img {
    height: 30px;
}

.installment-slider-term .installment-slider {
    margin: 10px;
}

.installment-slider-term .total-html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.installment-slider-term {
    margin: 5px 0;
}

.installment-slider .ui-slider-handle.ui-state-default.ui-corner-all {
    height: 20px;
    width: 20px;
    top: -5px;
    background: #F58466;
    cursor: pointer;
}

.installment-slider .ui-widget-header.ui-corner-all.ui-slider-range-min {
    height: 10px;
    background: #F58466;
}

/** Checkout **/
.checkout-index-index .installment-wrapper-start,
.checkout-index-index .installment-block,
.checkout-index-index .installment-quick-information,
.checkout-index-index .installment-links {
    display: none;
}

.checkout-index-index .installment-wrapper {
    border: none;
}

.checkout-index-index .installment-plans,
.checkout-index-index .installment-mouse {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.checkout-index-index .leanpay {
    position: relative;
}

.checkout-index-index .installment-additional-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.checkout-index-index .installment-logo-wrapper span {
    line-height: 40px;
}

.checkout-index-index .installment-additional-wrapper .installment-tooltip img {
    display: none;
}

.checkout-index-index .installment-logo-text {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.checkout-index-index .installment-logo{
    top: 0;
    height: 30px;
}

@media screen and (min-width: 1200px) {
    .checkout-index-index .installment-info{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .checkout-index-index .installment-deposit{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        -ms-flex-item-align: end;
        align-self: flex-end;
        margin-left: 10px;
    }

    .checkout-index-index .installment-wrapper {
        position: absolute;
        top: 0;
        left: 150px;
        width: 70%;
    }

    .checkout-index-index .installment-additional-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        max-width: 540px;
    }
}
