<?php
$location = $block->getData('location');
$banners = $block->getFrontBanners($location);
?>
<?php if($this->dataHelper->getEnable()) { ?>
    <div class="slidershow">
		<div class="owl-carousel">
		<?php  foreach($banners as $banner):  ?>
            <div class="item">
                <?php if($banner->getTypes() == 0) : ?>	    
					<?php $title = $banner->getTitle();  ?>
					<?php if($url = $banner->getLink()): ?>
						<a class="image" href="<?php echo $url; ?>" title="<?php echo $title; ?>">
					<?php endif; ?>
                            <img src="<?= $block->getMediaDirectoryUrl().$banner->getBannerimage() ?>" alt="<?php echo strip_tags($title) ?>" /></a>
					<?php if($url): ?>
						</a>
					<?php endif; ?>
					<?php if($banner->getDescription()): ?>
						<div class="container">
							<?php if($banner->getDescription()):?>
							<div class="content">
								<div class="inner-container">
									<h2><?= $banner->getTitle(); ?></h2>
									<p><?= html_entity_decode($banner->getDescription()); ?></p>
									<div class="btn"><span><?php echo __('Find out more') ?></span></div>
								</div>
							</div>
							<?php endif; ?>
						</div>
					<?php endif; ?>
                <?php else : ?>
                    <div class="item-video" data-merge="<?= $banner->getBannersId() ?>">
                        <iframe width="100%" height="100%" src="<?= $banner->getVideoLink() ?>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                <?php endif; ?>
            </div>
    	<?php endforeach  ?>
        </div>
				
        <script type="text/javascript">
            require([
                'jquery',
                'owlcarousel'
            ], function ($) {
                $(".slidershow .owl-carousel").owlCarousel({
                    items:1,
                    autoplay:true,
                    loop:true,
                    nav : true, 
                    dots: true,
                    autoplaySpeed : 500,
                    navSpeed : 500,
                    dotsSpeed : 500,
                    autoplayHoverPause: true,
                    margin:1,
                });	  
            });			
        </script>
    </div>
<?php } ?>