<?php
$location = $block->getData('location');
$banners = $block->getFrontBanners($location);
?>
<?php if($this->dataHelper->getEnable()) { ?>
	<div class="static-image">
		<?php foreach($banners as $banner):  ?>
		<div class="item">
			<?php if($banner->getTypes() == 0) : ?>
				<?php $title = $banner->getTitle();  ?>
				<?php if($url = $banner->getLink()): ?>
					<a class="image" href="<?php echo $url; ?>" title="<?php echo $title; ?>">
				<?php endif; ?>
						<img src="<?= $block->getMediaDirectoryUrl().$banner->getBannerimage() ?>" title="<?php echo strip_tags($title) ?>" alt="<?php echo strip_tags($title) ?>" />
				<?php if($url): ?>
					</a>
				<?php endif; ?>
			<?php endif; ?>
		</div>
		<?php endforeach; ?>
	</div>
<?php } ?>    