<?php /**@var MageWorx\SearchSuiteAutocomplete\Block\Autocomplete $block  */?>

<div data-bind="scope: 'searchsuiteautocomplete_form_sidebar'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "searchsuiteautocomplete_form_sidebar": {
                    "component": "MageWorx_SearchSuiteAutocomplete/js/autocompleteSidebar"
                },
                "searchsuiteautocompleteBindEventsSidebar": {
                    "component": "MageWorx_SearchSuiteAutocomplete/js/bindEventsSidebar",
                    "config": {
                        "searchFormSelector": "#search_mini_sidebar_form",
                        "searchButtonSelector": "#search_mini_sidebar_form button.search",
                        "inputSelector": "#searchSidebar, #mobile_searchSidebar, #search_mini_sidebar_form.minisearch input[type=\"text\"]",
                        "searchDelay": "<?php echo $block->escapeHtml($block->getSearchDelay()) ?>"
                    }
                },
                "searchsuiteautocompleteDataProviderSidebar": {
                    "component": "MageWorx_SearchSuiteAutocomplete/js/dataProviderSidebar",
                    "config": {
                        "url": "<?php echo $block->escapeUrl($block->getSearchUrl()) ?>"
                    }
                }
            }
        }
    }
}
</script>