<?php
/** @var $block \Amasty\Extrafee\Block\Adminhtml\Order\Create\Fee\Form */

$fee = $block->getFee();
?>

<div class="admin__field-option">
    <select class="admin__control-select">
        <option value=""><?= $block->escapeHtml(__('Choose Option')) ?></option>
        <?php foreach ($fee->getBaseOptions() as $option): ?>
            <option value="<?= $block->escapeHtmlAttr($option['index']); ?>"
                    <?= $fee->getCurrentValue() == $option['index'] ? 'selected' : '' ?> >
                    <?= $block->escapeHtml($option['label'] . ' ' . $block->getFormattedPrice($option['price'])) ?>
            </option>
        <?php endforeach; ?>
    </select>
</div>
