@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?qfvyfh');
    src:  url('fonts/icomoon.eot?qfvyfh#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?qfvyfh') format('truetype'),
      url('fonts/icomoon.woff?qfvyfh') format('woff'),
      url('fonts/icomoon.svg?qfvyfh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


/* load Dosis font  */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml1RMEfq4.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    font-display: swap;
}
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xME.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

/* Default */

.owl-nav { text-align: center; padding: 10px; }


.block, .block-banners, .block-banners-inline { margin-bottom: 0; }

.container { max-width: 1280px; }

/* Top Header */
.hot-support .hotline, .hot-support .email, .hot-support .time { display: inline-block; margin-right: 20px; }

.hot-support p .icon, .hot-support .support-icon .icon { color: #fed700; font-family: 'icomoon'; }

.icon-phone:before { content: "\e942"; }
.icon-mail:before { content: "\e945"; }
.icon-support:before { content: "\e910"; }
.hot-support p .icon { color: #fed700; padding-right: 10px; font-size: 19px; display: inline-block; vertical-align: middle; line-height: 34px; }

/* Header */

.header-middle { padding: 25px 0 10px; }

/* Search */
.searchbox-header { padding-left: 0 !important; }
.block-search { float: unset; }
span.twitter-typeahead { width: 100%; }
.sm-searchbox-content .field.searchbox .input-text { height: 40px; padding: 0px 25px 0px 20px !important; border-radius: 20px 0px 0px 20px; }
.nested { padding-left: 21px; }

/* Filters */
.sidebar .block .block-content.filter-content .filter-options-title {
    text-transform: unset !important;
    font-size: 116.67%;
    color: rgb(68, 68, 68);
    margin-bottom: 0 !important;
    font-weight: 600;
    margin-top: 0;
    border-bottom: 1px dotted rgb(68, 68, 68);
    padding: 10px 0;
    position: relative;
}

.filter-options-title:after {
    position: absolute;
    right: 13px;
    top: 12px;
}
.active>.filter-options-title:after {
    content: '\ea3d';
}
.filter-options-title:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    line-height: inherit;
    color: inherit;
    content: '\ea3c';
    font-family: 'icomoon';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}


/* Category */

.products-list .item .item-inner .box-info-list .bottom-action form .btn-action span { color: #FFF !important; }
.products-list .item .item-inner .box-info-list .bottom-action .action { background: #e74c3c !important; color: #FFF; }
.products-list .item .item-inner .box-info-list .bottom-action .btn-action.link-wishlist, .products-list .item .item-inner .box-info-list .bottom-action .btn-action.link-compare,
.abs-actions-addto-gridlist:before, .table-comparison .wishlist.split.button>.action.split:before, .product-items .wishlist.split.button>.action.split:before, .product-items .action.towishlist:before, .products.list.items .action.towishlist:before, .table-comparison .action.towishlist:before { color: #FFF !important; }

.numberOfPages {
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    background: #F7F7F7;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
    width: calc(~"100% - 10px");
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.color_box_wrapper { padding: 5px; overflow: auto; position: absolute; bottom: 33px; }
.color_box { width: 30px; height: 30px; float: left; margin: 2px; border-radius: 50%; }
.color_box.black { background: black;}
.color_box.blue { background: blue;}
.color_box.magenta { background: magenta;}
.color_box.yellow { background: yellow;}
.color_box.white { background: white;}

/* Product */
.price-including-tax + .price-excluding-tax, .weee[data-label] {
    font-size: 1.4rem;
}
.prices-tier.items li.item {
    border: 1px solid #e3dac0;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    background: #F7F7F7;
}

div[itemprop="sku"] {
    padding-left: 15px !important;
}

span.price-container.price-tier_price.tax.weee {
    display: inline-flex;
  
}

.prices-tier .price-including-tax .price {
    color: #e74c3c;
    font-size: 1.4rem;
}

.prices-tier .price-excluding-tax .price {
    color: #e74c3c;
    font-size: 1.4rem;
    vertical-align: -webkit-baseline-middle;
    padding-right:2px;
}

.prices-tier .price-including-tax + .price-excluding-tax:before, .weee[data-label]:before{
  font-size: 1.4rem !important;
  vertical-align: -webkit-baseline-middle;
}

.prices-tier .price-including-tax + .price-excluding-tax:before, .weee[data-label]:before {
    font-size: 1.4rem !important;
}

.prices-tier .price-including-tax .price::after {
  content:"(";
  padding-left:4px; 
  color: unset !important;
  font-weight: 400;
  color: #000 !important;
}

.prices-tier .price-excluding-tax .price::after {
 content:")";
 vertical-align: -webkit-baseline-bottom;
 font-weight: 400;
 color: #000 !important;
}

.prices-tier .price-tier_price .price-excluding-tax, .prices-tier .price-tier_price .price-including-tax {
    display: flex;
}

.action.tocart.primary.btn-action.btn-cart {
    bottom: 10px;
  }

  .field-tooltip .field-tooltip-action:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: inherit;
    color: #bbb;
    content: '' !important;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" %3F><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg enable-background="new 0 0 128 128" height="128px" id="Layer_1" version="1.1" viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M64.049,114.172v-2l-0.006,2c-27.642,0-50.129-22.486-50.129-50.128c0-27.642,22.487-50.13,50.129-50.13 s50.129,22.488,50.129,50.13C114.172,91.686,91.687,114.172,64.049,114.172z M64.043,17.914c-25.436,0-46.129,20.694-46.129,46.13 c0,25.436,20.693,46.128,46.129,46.128h0.006c25.433,0,46.123-20.692,46.123-46.128C110.172,38.608,89.479,17.914,64.043,17.914z"/><g><path d="M64.043,74.354c-1.104,0-2-0.896-2-2v-9.756c0-1.104,0.896-2,2-2c5.27,0,9.557-4.286,9.557-9.556 c0-5.271-4.287-9.56-9.557-9.56s-9.557,4.289-9.557,9.56c0,1.104-0.896,2-2,2s-2-0.896-2-2c0-7.477,6.081-13.56,13.557-13.56 S77.6,43.565,77.6,51.042c0,6.796-5.026,12.439-11.557,13.409v7.903C66.043,73.458,65.147,74.354,64.043,74.354z"/><circle cx="64.042" cy="85.098" r="3.796"/></g></svg>');
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    overflow: hidden;
    speak: none;
    text-align: center;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: 0 -2px;
}

.price-box .special-price, .price-box .old-price { display: inline-flex; }

.unavailable span {
    font-size: 16px;
    color: #f20000 !important;
    font-weight: 700;
}

.available span {
    font-size: 16px;
    color: #17a90d !important;
    font-weight: 700;
}


/* Cart */



/* Miha START */

.firecheckout .checkout-agreement span {
    color: black;
}

.smile-elasticsuite-autocomplete-result {
    border-width: thin;
    background: white;
    border-style: groove;
    padding: 5px;
    border-radius: 5px;
}

.firecheckout .checkout-agreement .action {
    height: auto;
}

.products-grid {
    .item {
       .item-inner {
           &:hover {
               .box-info {
                   .product-reviews-summary,
                   .product-item-name {
                       opacity: 0;
                       visibility: hidden;
                   }
               }
           }
       }
   }
}

.product-items input.qty {
    width: 40px;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.sm-searchbox-content .field.searchbox:before {
    display: none !important;
}

span.qty-box {
    float: left;
    position: relative;
    background: #eee;
    padding: 5px 20px 5px 10px;
    margin-top: -5px;
    margin-right: 5px;
}

.minus, .plus {
    position: absolute;
    line-height: 15px;
    cursor: pointer;
    width: 15px;
    text-align: center;
    top: 8px;
    bottom: 0;
    font-size: 15px;
    font-weight: 300;
    border: none !important;
}

.plus {
    right: 9px;
    top: 6px;
    color: #FFF;
    background: #000;
    width: 12px;
    height: 14px;
    line-height: 12px;
}

.minus {
    right: 9px;
    top: 20px;
    color: #FFF;
    background: #000;
    width: 12px;
    height: 14px;
    line-height: 10px;
}

span.qty-box label { 
    float: left;
    line-height: 30px;
    padding: 0 5px 0 0 !important; 
}


.block-minicart .block-content > .actions a {
	line-height: 45px!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    outline: none !important;
    text-decoration: none !important;
    color: #fff !important;
    padding: 0 0 !important;
    position: relative!important;
    text-transform: uppercase!important;
    font-weight: 400!important;
    white-space: nowrap !important;
    font-size: 100% !important;
    height: 44px !important;
    background: #444 !important;
    cursor: pointer !important;
    margin: 0 !important;
    border: none !important;
    overflow: visible !important;
	text-align: center !important;
}

.firecheckout .form-shipping-address input[type="checkbox"], .firecheckout #checkout input[type="checkbox"], .firecheckout .form-shipping-address input[type="radio"], .firecheckout #checkout input[type="radio"] {
   /* -webkit-appearance: auto !important;*/
}

.firecheckout .form-shipping-address input[type="checkbox"]:checked::after, .firecheckout #checkout input[type="checkbox"]:checked::after, .firecheckout .form-shipping-address input[type="radio"]:checked::after, .firecheckout #checkout input[type="radio"]:checked::after {
    transform: scale(1.5) !important;
    opacity: 0.5 !important;
}

.block-minicart .minicart-items .product-item-details .price-container {
   /* position: none !important;*/
}

.smile-elasticsuite-autocomplete-result {
    border-width: thin;
    background: white;
    border-style: groove;
    padding: 5px;
    border-radius: 5px;
}

.firecheckout .form-shipping-address input[type="checkbox"]:checked, .firecheckout #checkout input[type="checkbox"]:checked, .firecheckout .form-shipping-address input[type="radio"]:checked, .firecheckout #checkout input[type="radio"]:checked {
    /* box-shadow: 0 0 0 10px #b7b7b7 inset; */
    /* border: none; */
}

.firecheckout .form-shipping-address input[type="checkbox"], .firecheckout #checkout input[type="checkbox"], .firecheckout .form-shipping-address input[type="radio"], .firecheckout #checkout input[type="radio"] {
    opacity: 1;
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    top: 0;
    z-index: 1;
    margin: 0 5px 0 0;
    padding: 0 !important;
    background-color: #ffffff;
    box-shadow: 0 0 0 0 #f7f7f7 inset;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out !important;
    transition: all 0.2s ease-in-out !important;
    outline: 0;
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    min-height: 18px !important;
    cursor: pointer;
    vertical-align: middle !important;
    transform: none !important;
    clip-path: initial !important;
    --webkit-clip-path: initial !important;
}
.col-price .price {
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 700;
}

.product-info-main .product.attribute.sku { overflow: auto; }
.product-info-main .product.attribute.sku strong { float: left; }
.product-info-main .product.attribute.sku .value { float: left; padding-left: 80px; }


@media(min-width: 768px){

    .block-search {
        width: 450px;
    }

    .block-search input {
        -webkit-border-radius: 20px 0 0 20px;
        height: 40px;
    }

}



.field.search {
    display: table-cell;
    width: 100%;
}

form#minisearch-form-top-search {
    display: table;
    width: 100%;
}

.actions {
     vertical-align: top; 
}



/* Miha END */


/* Config START */

.block-minicart .block-content > .actions > .primary {
    margin: 0 0px 15px;
}
.block-minicart .block-content > .actions a{
    width: 100%;
}
.hotline-header {

	right:unset !important;
}

.header-links-top > div:not(:first-child) {
    margin-right: 150px;
}

.firecheckout .form-shipping-address input[type="checkbox"]:checked::after, .firecheckout #checkout input[type="checkbox"]:checked::after, .firecheckout .form-shipping-address input[type="radio"]:checked::after, .firecheckout #checkout input[type="radio"]:checked::after {
    transform: scale(1.5) !important;
    opacity: 0.5 !important;
}

.block-minicart .minicart-items .product-item-details .price-container {
    position: none !important;
}

.smile-elasticsuite-autocomplete-result {
    border-width: thin;
    background: white;
    border-style: groove;
    padding: 5px;
    border-radius: 5px;
}

@media(min-width: 768px){

    .block-search {
        width: 450px;
    }

    .block-search input {
        -webkit-border-radius: 20px 0 0 20px;
        height: 40px;
    }

.block-search .action.search {
    background-image: unset !important;
    background: unset !important;
    position: unset !important;
    right: 1px !important;;
    border-radius: 0 20px 20px 0 !important;;
    height: 40px !important;;
    border: 1px solid #cdcdcd !important;
    background-color: #f2f2f2 !important;
    color: #fff !important;
}

.block-search .action.search:hover {
    background-color: #f4a137 !important;
}

}

.field.search {
    display: table-cell;
    width: 100%;
}

form#minisearch-form-top-search {
    display: table;
    width: 100%;
}

//.actions {
//     display: table-cell;
//     vertical-align: top; 
//}

form#minisearch-form-top-search div {
     vertical-align: top;
}

.smile-elasticsuite-autocomplete-result .product-shop {
      width: unset !important;
}

.search-autocomplete dl dt:not(:empty) {
    background-color: #f2f2f2 !important;
}

fieldset.fieldset.additional_info {
    margin-left: auto;
    display: none;
}

div#swissup-customer-fields-container {
    display: none;
}

.nav {
    display: block !important;
}

.sidebar .block .block-content.filter-content .filter-options-content .items li a:before {
    background-color: unset !important;
}

/*.filter-options-content input[type=checkbox]:checked {
    background: #ff5501;
}

.filter-options-content input[type=checkbox]:checked:after {
    content: '\2714';
    font-size: 12px;
    color: white;
    margin-left: -8px;
    margin-top: -21px;
     transform: scale(1.5) !important;
}
.filter-options-content input[type=checkbox]:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #626262;
    position: absolute;
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
}
.filter-options-content input[type='checkbox']:checked:before {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    background: none #ACACB8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.5;
}
.filter-options-content input[type=checkbox] {
    display: -webkit-inline-box !important;
    position: relative;
    height: 20px;
    border: 1px solid #dddddd;
    padding: 7px 7px 7px 12px;
    color: #96999D;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 4px;
    transition: all 0.15s;
    opacity: 0.8 !important;
    position: absolute;
    margin-left: -28px;
    top: auto;
}*/

/* Config END */


/* Footer */
.block.newsletter .field .control:before { line-height: 46px; }
.block.newsletter { max-width: 100%; }
.block.newsletter .field { margin-right: 0; }
.block.newsletter .action.subscribe { border-radius: 0 3px 3px 0; }
.block.newsletter input[type="email"] { border-radius: 3px 0 0 3px; }

/* Responsive */
@media (min-width: 768px) {
    .block-search { width: 100% !important; }

    /* Category */
    .products-list .item .item-inner .box-info-list { position: relative; }
    .products-list .item .item-inner .box-info-list .bottom-action { float: right; }
    
}

@media (max-width: 991px) {
    .searchbox .nested { display: none; }
}

@media (max-width: 768px) {
    .cms-static-top-support { display: none; }
    .ambanners { display: none; }
}

// DEGRIZ update
.related-upsell-wrapper { margin-bottom: 40px; clear: both; }

.lazyframe {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.lazyframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sidebar-megamenu img.lazy { height: unset; max-width: 100%; }
