<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Automatic Related Products for Magento 2
 */
/**
 * @var \Amasty\Mostviewed\Block\Widget\Related $block
 * @var \Magento\Framework\Escaper $escaper
 * @codingStandardsIgnoreFile
 */
?>
<?php if (($products = $block->getProductCollection()) && $products->getSize()) : ?>
    <?php $isSlider = $block->getBlockLayout();
          $tagWrap = $isSlider ? 'div' : 'ol';
          $tag = $isSlider ? 'div' : 'li';  ?>
    <div class="block widget amrelated block-featured-products-list" id="amrelated-block-<?= (int)$block->getGroupId();?>">
        <?php if ($block->getTitle()) : ?>
            <div class="block-title">
                <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content amrelated-sidebar-wrap">
            <?php $suffix = $block->getNameInLayout(); ?>
            <?php $iterator = 1; ?>
            <<?= /* @noEscape */ $tagWrap?> class="product-items" id="widget-featured-products-<?= /* @noEscape */ $suffix ?>" <?= /* @noEscape */ $isSlider ? 'data-amrelated-js="slider"' : ''?>>
                <?php foreach ($products->getItems() as $_product) : ?>
                    <?= /* @noEscape */ ($iterator++ == 1) ? '<' . $tag . ' class="product-item">' : '</' . $tag . '><' . $tag . ' class="product-item">' ?>
                    <div class="product-item-info">
                        <a class="product-item-photo" href="<?= /* @noEscape */ $_product->getProductUrl() ?>"
                           title="<?= /* @noEscape */ $block->stripTags($_product->getName(), null, true) ?>">
                            <?php $image = $block->getImageModel($_product) ?>
                            <span class="product-image-container">
                                <img src="<?= $escaper->escapeUrl($image->getUrl()) ?>"
                                     width="<?= $escaper->escapeHtmlAttr($image->getWidth()) ?>"
                                     height="<?= $escaper->escapeHtmlAttr($image->getHeight()) ?>"
                                     alt="<?= $escaper->escapeHtmlAttr($image->getLabel()) ?>"/>
                            </span>
                        </a>
                        <div class="product-item-details">
                            <strong class="product-item-name">
                                <a href="<?= /* @noEscape */ $_product->getProductUrl() ?>"
                                   title="<?= /* @noEscape */ $block->stripTags($_product->getName(), null, true) ?>)" class="product-item-link">
                                    <?= /* @noEscape */ $this->helper(\Magento\Catalog\Helper\Output::class)->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </strong>
                            <?= /* @noEscape */ $block->getReviewsSummaryHtml($_product, \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW) ?>
                            <?= /* @noEscape */ $block->getProductPriceHtml($_product, \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE) ?>
                            <div class="product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable() && $block->getAddToCart()) : ?>
                                        <?php
                                            $postDataHelper = $this->helper(\Magento\Framework\Data\Helper\PostHelper::class);
                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
                                        ?>
                                        <button type="button"
                                                title="<?= /* @noEscape */ __('Add to Cart') ?>"
                                                data-amrelated-button="tocart"
                                                class="action tocart primary"
                                                data-post='<?= /* @noEscape */ $postData ?>'>
                                            <?= /* @noEscape */ __('Add to Cart') ?>
                                        </button>
                                    <?php else : ?>
                                        <?php if ($_product->getIsSalable()) : ?>
                                            <div class="stock available" title="<?= /* @noEscape */ __('Availability') ?>">
                                                <span><?= /* @noEscape */ __('In stock') ?></span>
                                            </div>
                                        <?php else : ?>
                                            <div class="stock unavailable" title="<?= /* @noEscape */ __('Availability') ?>">
                                                <span><?= /* @noEscape */ __('Out of stock') ?></span>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                    <?= /* @noEscape */ ($iterator == count($products->getItems())+1) ? '</' . $tag . '>' : '' ?>
                <?php endforeach; ?>
            </<?= /* @noEscape */ $tagWrap?>>
        </div>
    </div>
    <?php if ($isSlider) : ?>
        <script type="text/javascript">
            require([
                "jquery",
                "Amasty_Base/vendor/slick/slick.min"
            ], function ($) {
                $('#amrelated-block-<?= /* @noEscape */ (int)$block->getGroupId();?> [data-amrelated-js="slider"]').slick(
                    {
                        dots:true,
                        infinite: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                );
            });
        </script>
    <?php endif; ?>
<?php endif; ?>

