<?php
/**
* @var $block \postaslovenija\dostavnimodul\Block\adminhtml\Order\View\Tab\CustomTab
*/
?>

<div class="fieldset-wrapper order-information">
   <div>
       <h2>Pošta Slovenije</h2>
   </div>
   <div id="mainContainer" class="mainContainer"></div>
   <div id="tekst"></div>
    <?php echo $block->getPSForm(); ?>
</div>