<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block Magelan\Gls\Block\Order\Tracking\View */ ?>
<div class="admin__control-table-wrapper">
	
    <table class="data-table admin__control-table" id="shipment_tracking_info">
        <thead>
            <tr class="headings">
                <th class="col-carrier"><?= /* @escapeNotVerified */ __('Carrier') ?></th>
                <th class="col-number"><?= /* @escapeNotVerified */ __('Bulk') ?></th>
                <th class="col-number"><?= /* @escapeNotVerified */ __('Track Number') ?></th>
                <th class="col-number"><?= /* @escapeNotVerified */ __('Weight') ?></th>
                <th class="col-number"><?= /* @escapeNotVerified */ __('Note') ?></th>
                <th class="col-delete last"><?= /* @escapeNotVerified */ __('Action') ?></th>
                <th class="col-delete last"><?= /* @escapeNotVerified */ __('Gls') ?></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td class="col-carrier">
                    <select name="carrier"
                            class="select admin__control-select"
                            onchange="selectCarrier(this)">
                        <?php foreach ($block->getCarriers() as $_code => $_name): ?>
                        <option value="<?= /* @escapeNotVerified */ $_code ?>"><?= $block->escapeHtml($_name) ?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
                <td class="col-number">
                    <input class="input-text admin__control-text"
                           type="text"
                           id="tracking_title"
                           name="title"
                           value="" />
                </td>
                <td class="col-number">
                    <input class="input-text admin__control-text"
                           type="text"
                           id="tracking_number"
                           name="number"
                           value="" />
                </td>
                <td class="col-number">
                    <input class="input-text admin__control-text"
                           type="text"
                           id="weight"
                           name="weight"
                           value="" />
                </td>
                <td class="col-number">
                    <input class="input-text admin__control-text"
                           type="text"
                           id="note"
                           name="note"
                           value="" />
                </td>
                <td class="col-delete last"><?= $block->getSaveButtonHtml() ?></td>
                <td class="col-delete last"><?= $block->getGLSSaveButtonHtml() ?></td>
            </tr>
        </tfoot>
    <?php if ($_tracks = $block->getShipment()->getAllTracks()): ?>
        <tbody>
        <?php $i = 0; foreach ($_tracks as $_track):$i++ ?>
        <?php /*print_r($block->getPOSTARemoveUrl($_track));die();*/?>
            <tr class="<?= /* @escapeNotVerified */ ($i%2 == 0) ? 'even' : 'odd' ?>">
                <td class="col-carrier"><?= $block->escapeHtml($block->getCarrierTitle($_track->getCarrierCode())) ?></td>
                <td class="col-title"><?= $block->escapeHtml($_track->getTitle()) ?></td>
                <td class="col-number">
                    <?php if ($_track->isCustom()): ?>
                    <?= $block->escapeHtml($_track->getNumber()) ?>
                    <?php else: ?>
                    <?php $postNum = $block->getShipment()->getShippingAddress()->getPostcode() ?>
	    				
	                    <a href="#" onclick="popWin('<?= /* @escapeNotVerified */ $this->helper('Magento\Shipping\Helper\Data')->getTrackingPopupUrlBySalesModel($_track) ?>','trackorder','width=800,height=600,resizable=yes,scrollbars=yes')"><?= $block->escapeHtml($_track->getNumber()) ?></a>
	                    <div id="shipment_tracking_info_response_<?= /* @escapeNotVerified */ $_track->getId() ?>"></div>
                    
                    <?php endif; ?>
                </td>
                <td class="col-title"><?= /* @escapeNotVerified */number_format((float)$_track->getWeight(), 2, '.', '') ?></td>
                <td class="col-title"><?= /* @escapeNotVerified */$_track->getDescription()?></td>
                <td class="col-delete last">
					<button class="action-delete" type="button" onclick="deleteTrackingNumber('<?= /* @escapeNotVerified */ $block->getRemoveUrl($_track) ?>'); return false;"><span><?= /* @escapeNotVerified */ __('Delete') ?></span></button>
				</td>
                <td class="col-delete last">
                	<button class="action-delete" type="button" onclick="deleteGLSTrackingNumber('<?= /* @escapeNotVerified */ $block->getGLSRemoveUrl($_track) ?>'); return false;"><span><?= /* @escapeNotVerified */ __('Delete') ?></span></button>
					<button type="button" onclick="popWin('<?= /* @escapeNotVerified */ $this->helper('Magelan\Gls\Helper\Data')->getTrackingPopupUrlBySalesModel($_track) ?>','trackorder','width=800,height=600,resizable=yes,scrollbars=yes')">
						<span><?= /* @escapeNotVerified */ __('Print') ?></span>
					</button>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    <?php endif; ?>
    </table>
</div>

<script>
require(['prototype'], function(){

//<![CDATA[
function selectCarrier(elem) {
    var option = elem.options[elem.selectedIndex];
    $('tracking_title').value = option.value && option.value != 'custom' ? option.text : '';
}

function deleteTrackingNumber(url) {
    if (confirm('<?= /* @escapeNotVerified */ __('Are you sure?') ?>')) {
        submitAndReloadArea($('shipment_tracking_info').parentNode, url)
    }
}
function deleteGLSTrackingNumber(url) {
    if (confirm('<?= /* @escapeNotVerified */ __('Are you sure?') ?>')) {
        submitAndReloadArea($('shipment_tracking_info').parentNode, url)
    }
}
function printTrackingNumber(url) {
	submitAndReloadArea($('shipment_tracking_info').parentNode, url)
}
window.selectCarrier = selectCarrier;
window.deleteTrackingNumber = deleteTrackingNumber;
window.deleteGLSTrackingNumber = deleteGLSTrackingNumber;
window.printTrackingNumber = printTrackingNumber;
//]]>

});
</script>
