<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct();
/**Get Product Quantity*/
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\CatalogInventory\Api\StockStateInterface $StockState */
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
$stockQty = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());
$ownStock = $_product->getExtensionAttributes()->getStockItem()->getBackorders();
?>
<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($ownStock > 0): ?>
        <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span><?= /* @escapeNotVerified */ __('In stock') ?></span>
            <div class="field-tooltip toggle" style="position: relative; display: inline;">
                <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                    <strong>Za nakup v trgovini:</strong><br />
                    Možen nakup v trgovini - <a href="https://biro.si/kje-smo">Kje Smo</a><br/>
                    <br/>
                    Priporočamo, da preverite zalogo saj je pri določenih izdelkih zaloga omejena.
                    <br />
                    <strong>Za prevzem spletnih naročil:</strong><br />
                    Možen že isti dan po prejemu obvestila da je naročeno pripravljeno.
                </div>
            </div>
        </div>
    <?php elseif ($_product->isAvailable() && $stockQty > 0): ?>
        <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span><?= /* @escapeNotVerified */ __('In stock with supplier') ?></span>
            <div class="field-tooltip toggle" style="position: relative; display: inline;">
                <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                    Izdelek je na zalogi v skladišču uvoznika v Ljubljani<br /><br/>
                    <strong>Predviden rok dostave:</strong><br />
                    Dostava na vaš naslov predvidoma v roku 2 - 4 delovnih dni<br />
                    <strong>Osebni prevzem v trgovini v Ljubljani:</strong><br />
                    V roku 1 - 2 delovnih dni
                </div>
            </div>
        </div>
    <?php else: ?>
        <div class="stock unavailable" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
            <span><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
