﻿<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block Magelan\Upn\Block\Success */ ?>

<?php if('upn' == $block->getOrderPaymentCode()){ ?>
<div class="checkout-success">
	<div class="checkout-success-container" data-type="container" data-name="top">
		<div data-type="block" data-name="thank.you">
			<div class="block thank-you-note">
				<div class="block-content">
					<div class="actions-toolbar">
						<div id="upn" class="primary">
					        <a id="upn" class="action primary continue" href="<?= $block->escapeUrl($block->getUpnUrl()) ?>"><span><?= $block->escapeHtml(__('Print upn')) ?></span></a>
						</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="checkout-success-container" data-type="container" data-name="middleleft">
	</div>
	<div class="checkout-success-container" data-type="container" data-name="middleright">
	</div>
	<div class="checkout-success-container" data-type="container" data-name="bottom">
	</div>
</div>

<!--div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->escapeUrl($block->getUpnUrl()) ?>"><span><?= $block->escapeHtml(__('Print upn')) ?></span></a>
        </div>
</div-->
<?php } ?>
<!--div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= $block->escapeUrl($block->getXmlUrl()) ?>"><span><?= $block->escapeHtml(__('Import xml')) ?></span></a>
        </div>
</div-->