<?php
/** @var $block \Amasty\Extrafee\Block\Adminhtml\Order\Create\Fee\Form */
?>

<?php $fees = $block->getExtraFees(); ?>
<?php if ($fees): ?>
    <div class="amexfee-order-block" data-amexfee-js="block">
        <?php foreach ($fees as $fee): ?>
            <dl class="amexfee-group" data-amexfee-js="items" data-fee-id="<?= $block->escapeHtmlAttr($fee->getId()) ?>">
                <dt class="amexfee-title">
                    <?= $block->escapeHtml($fee->getName()) ?>
                </dt>
                <dd class="amexfee-options item-options">
                    <?= $fee->getDescription() ? $block->escapeHtml($fee->getDescription()) : '' ?>
                    <?= /* @noEscape */ $block->getChildBlock('type_' . $fee->getFrontendType())->setFee($fee)->toHtml(); ?>
                </dd>
            </dl>
        <?php endforeach; ?>
        <?= $block->getButtonHtml(__('Apply Fees'), null, 'action-default scalable action-secondary amexfee-button', null, ['amexfee-js' => 'apply-fees']) ?>
    </div>
<?php else: ?>
    <h4><?= $block->escapeHtml(__('No Extra Fees available.')) ?></h4>
<?php endif; ?>
