<?php
$helper      = $this->helper("Lof\SmsNotification\Helper\Data");
$initialCountry = $helper->getConfig('settings_input/initial_country');
$enable = $helper->getConfig('general_settings/enable_module');
$allow_country = $helper->getconfig('settings_input/sallowspecific');
$specificcountry = $helper->getConfig('settings_input/specificcountry');
$array_specificcountry = explode(',',strtolower($specificcountry));
$preferredCountries = $helper->getConfig('settings_input/preferredcountries');
$array_preferredCountries = explode(',',strtolower($preferredCountries));
$country = array();
$countrys = array();

foreach ($array_preferredCountries as $key => $array_preferredCountries) {
    $countrys[] = '"'.$array_preferredCountries.'"';
}
foreach ($array_specificcountry as $key => $_array_specificcountry) {
    $country[] = '"'.$_array_specificcountry.'"';
}
$countrys = implode(',', $countrys);
$country = implode(',', $country);
if ($enable):
?>
<div id="sms-notification-phone-number" class="hidden" style="display:none">
<input id="telephone-input" name="telephone-input" type="tel" data-validate="{required:true}" class="input-text mobile-number required-entry validate-phone-number mage-error" >
<input type="hidden" name="telephone_number" id="telephone-number" aria-required="true" value="">
<input type="hidden" name="country_code" id="country_code" aria-required="true" value="">
</div>
<script type="text/javascript">
require([
    'jquery',
    'Magento_Ui/js/modal/modal',
    'Magento_Ui/js/modal/alert',
    'Lof_SmsNotification/js/intlTelInput.min',
    'Lof_SmsNotification/js/utils',
    'mage/mage',
    'mage/validation',
    'loader',
    'domReady!'
],function($, modal, alert){
    $(document).ready(function(){
      if($("#telephone")){
            $("#telephone").parent().prepend($("#sms-notification-phone-number").html());
            $("#telephone").attr("type", "hidden");
      }
      $("#telephone-input").keyup(function(){
            $("#telephone").val($("#telephone-input").val());
      });
    });
    function initMobileInput(){
        $("#telephone-input").intlTelInput({
            <?php if($initialCountry) : ?>
            initialCountry: '<?= $block->escapeHtml($initialCountry); ?>',
            <?php else : ?>
            initialCountry: 'auto',
            <?php endif; ?>
            geoIpLookup: function(callback) {
                $.get("https://ipinfo.io?token=d9a48054457087", function() {}, "jsonp").always(function(resp) {
                   var countryCode = (resp && resp.country) ? resp.country : "";
                   callback(countryCode);
                });
            },
            <?php if ($allow_country) : ?>
            onlyCountries: [<?= $block->escapeHtml($country); ?>],
            <?php else : ?>
            onlyCountries: [],
            <?php endif; ?>
            preferredCountries:[<?= $countrys;?>]
        }).done(function() {
            $('#telephone-number').val($("#telephone-input").intlTelInput("getNumber"));
            var countryData = $("#telephone-input").intlTelInput("getSelectedCountryData");
            $('#country_code').val(countryData.iso2);
            $('#telephone-input').val($("#telephone-input").val());
            $('#telephone-input').on('keyup', function() {
                validatePhoneNum();
            }).on("countrychange", function(e, countryData) {
                validatePhoneNum();
                $('#country_code').val(countryData.iso2);
                $('#telephone-input').val($("#telephone-input").val());
            });
        });
    }

     /**
     * Validate phone number
     */
    function validatePhoneNum(){
        var number = $("#telephone-input").intlTelInput("getNumber");
        $('#telephone-input').removeClass('otp-validated');
        $('#telephone-number').val(number);
    }

    initMobileInput();

    var rules = {
       'validate-phone-number': [
          function (value, element) {
              return $(element).intlTelInput("isValidNumber");
          },
          '<?= $block->escapeHtml(__("The mobile number is not valid."));?>'
        ]
    };

    $.each(rules, function (i, rule) {
        rule.unshift(i);
        $.validator.addMethod.apply($.validator, rule);
    });
});
</script>
<?php endif; ?>
