<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magento\CatalogInventory\Api\StockStateInterface $StockState */
$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');

$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_config = $this->helper('Sm\Shopping\Helper\Data');
$homeStyle = $_config->getThemeLayout('home_style');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty">
        <div><?php /* @escapeNotVerified */
            echo __('We can\'t find products matching the selection.') ?></div>
    </div>
<?php else: ?>
    <div class="toolbar-top">
        <?php echo $block->getToolbarHtml() ?>
    </div>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="category-product products wrapper <?php /* @escapeNotVerified */
    echo $viewMode; ?> products-<?php /* @escapeNotVerified */
    echo $viewMode; ?>">
        <?php $iterator = 1; ?>

        <?php if ($viewMode == 'grid') { ?>

            <ol class="products list items product-items row">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>






                    <?php 
                    $stockQty = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());
                    $_productFull = $objectManager->create('Magento\Catalog\Model\Product')->setStore($_product->getStore()->getWebsiteId())->load($_product->getid()); 
                    $ownStock = $_productFull->getExtensionAttributes()->getStockItem()->getBackorders();
                    ?>

                    


                    <li class="item product product-item">
                        <div class="product-item-info" data-container="product-grid">
                            <div class="item-inner">
                                <div class="box-image">
                                    <?php $productImage = $block->getImage($_product, $image); ?>

                                    <!--LABEL PRODUCT-->

                                    <?php
                                    $orgprice = $_product->getPrice();
                                    $specialprice = $_product->getSpecialPrice();
                                    $specialPriceFromDate = $_product->getSpecialFromDate();
                                    $specialPriceToDate = $_product->getSpecialToDate();

                                    $today = time();

                                    if ($specialprice && $_config->getAdvanced('show_salelabel')) {
                                        if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
                                            <?php if ($specialprice < $orgprice) {
                                                $save_percent = 100 - round(($specialprice / $orgprice) * 100);
                                                ?>
                                                <div class="label-product label-sale">
											<span class="sale-product-icon">
												<?php echo '-' . $save_percent . '%'; ?>
											</span>
                                                </div>
                                            <?php } ?>
                                        <?php }
                                    }
                                    ?>

									<?php
									$now      = date("Y-m-d");
									if ($_product->getData('news_from_date') && $_product->getData('news_to_date') && $_config->getAdvanced('show_newlabel')) {
										$newsFrom = substr($_product->getData('news_from_date'), 0, 10);
										$newsTo = substr($_product->getData('news_to_date'), 0, 10);
										if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) { ?>
											<div class="label-product label-new">
												<span class="new-product-icon"><?php echo __('New'); ?></span>
											</div>
										<?php }
									} ?>

                                    <!--END LABEL PRODUCT-->

                                    <a href="<?php /* @escapeNotVerified */
                                    echo $_product->getProductUrl() ?>" class="product photo product-item-photo"
                                       tabindex="-1">
                                        <?php echo $productImage->toHtml(); ?>
                                    </a>

                                    <div class="button-action">
                                        <?php if ($_config->getAdvanced('show_wishlist_button')) { ?>
                                            <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                                <a href="#" class="action towishlist btn-action link-wishlist"
                                                   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                   aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                   data-post='<?php /* @escapeNotVerified */
                                                   echo $block->getAddToWishlistParams($_product); ?>'
                                                   data-action="add-to-wishlist" role="button">
                                                <span><?php /* @escapeNotVerified */
                                                    echo __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        <?php } ?>

                                        <?php if ($_config->getAdvanced('show_compare_button')) { ?>
                                            <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                            <a href="#" class="action tocompare btn-action link-compare"
                                               title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                               aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                               data-post='<?php /* @escapeNotVerified */
                                               echo $compareHelper->getPostDataParams($_product); ?>' role="button">
                                            <span><?php /* @escapeNotVerified */
                                                echo __('Add to Compare') ?></span>
                                            </a>
                                        <?php } ?>
                                    </div>


                                    <?php $tonerColor = $_product->getAttributeText("toner_color"); ?>
                                    <?php if($tonerColor): ?>
                                        <?php $colors = explode("/", $tonerColor); ?>
                                        <div class="color_box_wrapper">
                                            <?php foreach($colors as $color): ?>
                                                <?php if($color == "črna"): ?>
                                                    <div class="color_box black">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "modra"): ?>
                                                    <div class="color_box blue">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "škrlatna"): ?>
                                                    <div class="color_box magenta">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "rumena"): ?>
                                                    <div class="color_box yellow">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "bela"): ?>
                                                    <div class="color_box white">
                                                    </div>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        </div>
                                    <?php endif; ?>

                                    <?php $nrOfPages = $_product->getData("number_of_pages"); ?>
                                    <?php if($nrOfPages): ?>
                                        <div class="numberOfPages">
                                            <?= $nrOfPages ?>
                                            <br />
                                        </div>
                                    <?php endif; ?>

                                </div>

                                <div class="product details product-item-details box-info">
                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType, true); ?>
                                    <div class="sku"><?= $_product->getSku() ?></div>
                                    <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                    ?>
                                    <h2 class="product name product-item-name product-name">
                                        <a class="product-item-link" href="<?php /* @escapeNotVerified */
                                        echo $_product->getProductUrl() ?>">
                                            <?php /* @escapeNotVerified */
                                            echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                        </a>
                                    </h2>

                                    <?php /* @escapeNotVerified */
                                    echo $block->getProductPrice($_product) ?>
                                    <?php echo $block->getProductDetailsHtml($_product); ?>


                                    <?php if ($block->displayProductStockStatus()): ?>
                                        <?php if ($ownStock > 0): ?>
                                            <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                                <span><?= /* @escapeNotVerified */ __('In stock') ?></span>
                                                <div class="field-tooltip toggle" style="position: relative; display: inline;">
                                                    <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                                                    <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                                                        <strong>Za nakup v trgovini:</strong><br />
                                                        Možen nakup v trgovini - <a href="https://biro.si/kje-smo">Kje Smo</a><br/>
                                                        <br/>
                                                        Priporočamo, da preverite zalogo saj je pri določenih izdelkih zaloga omejena.
                                                        <br />
                                                        <strong>Za prevzem spletnih naročil:</strong><br />
                                                        Možen že isti dan po prejemu obvestila da je naročeno pripravljeno.
                                                    </div>
                                                </div>
                                            </div>
                                        <?php elseif ($_product->isAvailable() && $stockQty > 0): ?>
                                            <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                                <span><?= /* @escapeNotVerified */ __('In stock with supplier') ?></span>
                                                <div class="field-tooltip toggle" style="position: relative; display: inline;">
                                                    <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                                                    <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                                                        Izdelek je na zalogi v skladišču uvoznika v Ljubljani<br /><br/>
                                                        <strong>Predviden rok dostave:</strong><br />
                                                        Dostava na vaš naslov predvidoma v roku 2 - 4 delovnih dni<br />
                                                        <strong>Osebni prevzem v trgovini v Ljubljani:</strong><br />
                                                        V roku 1 - 2 delovnih dni
                                                    </div>
                                                </div>
                                            </div>
                                        <?php else: ?>
                                            <div class="stock unavailable" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                                <span><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
                                            </div>
                                        <?php endif; ?>
                                    <?php endif; ?>

                                    

                                    <div class="bottom-action">
                                        <?php if ($_config->getAdvanced('show_addtocart_button')) { ?>
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */
                                                echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product"
                                                           value="<?php /* @escapeNotVerified */
                                                           echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php /* @escapeNotVerified */
                                                    echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                                           value="<?php /* @escapeNotVerified */
                                                           echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                    <?php echo $block->getBlockHtml('formkey') ?>


						    <?php if ($_product->getTypeId() != \Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE):?>
                                                        <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo ($this->getMinimalQty($_product)?$this->getMinimalQty($_product):1) ?>" class="qty" />
						    <?php endif; ?>

						    <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                            class="action tocart primary btn-action btn-cart">
                                                    <span><?php /* @escapeNotVerified */
                                                        echo __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */
                                                            echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable btn-action btn-cart"><span><?php /* @escapeNotVerified */
                                                            echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        <?php } ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>

        <?php } else { ?>
            <ol class="products list items product-items">
                <?php foreach ($_productCollection as $_product): ?>

                    <?php 
                    $stockQty = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());
                    $_productFull = $objectManager->create('Magento\Catalog\Model\Product')->setStore($_product->getStore()->getWebsiteId())->load($_product->getid()); 
                    $ownStock = $_productFull->getExtensionAttributes()->getStockItem()->getBackorders();
                    ?>

                    <li class="item respl-item-list product product-item">
                        <div class="product-item-info" data-container="product-grid">
                            <div class="item-inner">
                                <div class="box-image-list">
                                    <?php $productImage = $block->getImage($_product, $image); ?>

                                    <!--LABEL PRODUCT-->

                                    <?php
                                    $orgprice = $_product->getPrice();
                                    $specialprice = $_product->getSpecialPrice();
                                    $specialPriceFromDate = $_product->getSpecialFromDate();
                                    $specialPriceToDate = $_product->getSpecialToDate();

                                    $today = time();



                                    if ($specialprice && $_config->getAdvanced('show_salelabel')) {
                                        if ($today >= strtotime($specialPriceFromDate) && $today <= strtotime($specialPriceToDate) || $today >= strtotime($specialPriceFromDate) && is_null($specialPriceToDate)) { ?>
                                            <?php if ($specialprice < $orgprice) {
                                                $save_percent = 100 - round(($specialprice / $orgprice) * 100);
                                                ?>
                                                <div class="label-product label-sale">
											<span class="sale-product-icon">
												<?php echo '-' . $save_percent . '%'; ?>
											</span>
                                                </div>
                                            <?php } ?>
                                        <?php }
                                    }
                                    ?>

                                    <?php
                                    $now = date("Y-m-d");
                                    $newsFrom = substr($_product->getNewsFromDate(), 0, 10);
                                    $newsTo = substr($_product->getNewsToDate(), 0, 10);


                                    if (($newsTo != '' || $newsFrom != '') && $_config->getAdvanced('show_newlabel')) {
                                        if (($newsTo != '' && $newsFrom != '' && $now >= $newsFrom && $now <= $newsTo) || ($newsTo == '' && $now >= $newsFrom) || ($newsFrom == '' && $now <= $newsTo)) { ?>
                                            <div class="label-product label-new">
                                                <span class="new-product-icon"><?php echo __('New'); ?></span>
                                            </div>
                                        <?php }
                                    } ?>


                                    <!--END LABEL PRODUCT-->

                                    <a href="<?php /* @escapeNotVerified */
                                    echo $_product->getProductUrl() ?>" class="product photo product-item-photo"
                                       tabindex="-1">
                                        <?php echo $productImage->toHtml(); ?>
                                    </a>

                                    <?php $tonerColor = $_product->getAttributeText("toner_color"); ?>
                                    <?php if($tonerColor): ?>
                                        <?php $colors = explode("/", $tonerColor); ?>
                                        <div class="color_box_wrapper">
                                            <?php foreach($colors as $color): ?>
                                                <?php if($color == "črna"): ?>
                                                    <div class="color_box black">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "modra"): ?>
                                                    <div class="color_box blue">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "škrlatna"): ?>
                                                    <div class="color_box magenta">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "rumena"): ?>
                                                    <div class="color_box yellow">
                                                    </div>
                                                <?php endif; ?>
                                                <?php if($color == "bela"): ?>
                                                    <div class="color_box white">
                                                    </div>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        </div>
                                    <?php endif; ?>

                                    <?php $nrOfPages = $_product->getData("number_of_pages"); ?>
                                    <?php if($nrOfPages): ?>
                                        <div class="numberOfPages">
                                            <?= $nrOfPages ?>
                                            <br />
                                        </div>
                                    <?php endif; ?>

                                </div>

                                <div class="product details product-item-details box-info-list">
                                    <div class="sku"><?= $_product->getSku() ?></div>
                                    <?php
                                    $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                    ?>
                                    <h2 class="product name product-item-name product-name">
                                        <a class="product-item-link" href="<?php /* @escapeNotVerified */
                                        echo $_product->getProductUrl() ?>">
                                            <?php /* @escapeNotVerified */
                                            echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                        </a>
                                    </h2>


                                    <div class="bottom-action">
                                        <?php if ($_config->getAdvanced('show_addtocart_button')) { ?>
                                            <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */
                                                echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product"
                                                           value="<?php /* @escapeNotVerified */
                                                           echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php /* @escapeNotVerified */
                                                    echo Action::PARAM_NAME_URL_ENCODED; ?>"
                                                           value="<?php /* @escapeNotVerified */
                                                           echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                    <?php echo $block->getBlockHtml('formkey') ?>

                                                    <?php if ($_product->getTypeId() != \Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE):?>
                                                        <span class="qty-box">
                                                            <label for="qty"><?php echo __('Qty') ?>:</label>
                                                            <input type="text" name="qty" id="qty" maxlength="12" value="<?php echo ($this->getMinimalQty($_product)?$this->getMinimalQty($_product):1) ?>" class="qty" />
                                                            <div class="minus">-</div>
                                                            <div class="plus">+</div>
                                                        </span>
						                            <?php endif; ?>

                                                    <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                            class="action tocart btn-action btn-cart">
														<span><?php /* @escapeNotVerified */
                                                            echo __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */
                                                            echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable btn-action btn-cart"><span><?php /* @escapeNotVerified */
                                                            echo __('Out of stock') ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        <?php } ?>

                                        <div class="add-to-links" data-role="add-to-links" class="actions-secondary">
                                            <?php if ($_config->getAdvanced('show_wishlist_button')) { ?>
                                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                                    <a href="#" class="action towishlist btn-action link-wishlist"
                                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                                       data-post='<?php /* @escapeNotVerified */
                                                       echo $block->getAddToWishlistParams($_product); ?>'
                                                       data-action="add-to-wishlist" role="button">
														<span><?php /* @escapeNotVerified */
                                                            echo __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            <?php } ?>

                                            <?php if ($_config->getAdvanced('show_compare_button')) { ?>
                                                <?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
                                                <a href="#" class="action tocompare btn-action link-compare"
                                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                                   data-post='<?php /* @escapeNotVerified */
                                                   echo $compareHelper->getPostDataParams($_product); ?>' role="button">
													<span><?php /* @escapeNotVerified */
                                                        echo __('Add to Compare') ?></span>
                                                </a>
                                            <?php } ?>
                                        </div>
                                    </div>


                                    <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                                    <?php /* @escapeNotVerified */
                                    echo $block->getProductPrice($_product) ?>
                                    <?php echo $block->getProductDetailsHtml($_product); ?>

                                    <div class="product-item-inner">
                                        <?php if ($showDescription): ?>
                                            <div class="product description product-item-description">
                                                <?php /* @escapeNotVerified */
                                                echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
                                                <a href="<?php /* @escapeNotVerified */
                                                echo $_product->getProductUrl() ?>"
                                                   title="<?php /* @escapeNotVerified */
                                                   echo $_productNameStripped ?>"
                                                   class="action more"><?php /* @escapeNotVerified */
                                                    echo __('Learn More') ?></a>
                                            </div>
                                        <?php endif; ?>

                                        


                                        <?php if ($block->displayProductStockStatus()): ?>
                                            <?php if ($ownStock > 0): ?>
                                                <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                                    <?php $stockStatus = $_product->getData('amasty_preorder_note') ?  $_product->getData('amasty_preorder_note') : __('In stock')  ?>
                                                    <span><?= /* @escapeNotVerified */$stockStatus ?></span>
                                                    <div class="field-tooltip toggle" style="position: relative; display: inline;">
                                                        <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                                                        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                                                            <strong>Za nakup v trgovini:</strong><br />
                                                            Možen nakup v trgovini - <a href="https://biro.si/kje-smo">Kje Smo</a><br/>
                                                            <br/>
                                                            Priporočamo, da preverite zalogo saj je pri določenih izdelkih zaloga omejena.
                                                            <br />
                                                            <strong>Za prevzem spletnih naročil:</strong><br />
                                                            Možen že isti dan po prejemu obvestila da je naročeno pripravljeno.
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php elseif ($_product->isAvailable() && $stockQty > 0): ?>
                                                <div class="stock available" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                                    <span><?= /* @escapeNotVerified */ __('In stock with supplier') ?></span>
                                                    <div class="field-tooltip toggle" style="position: relative; display: inline;">
                                                        <span id="tooltip" class="field-tooltip-action action-help" tabindex="0" data-toggle="dropdown" data-bind="mageInit: {'dropdown':{'activeClass': '_active', 'parent': '.field-tooltip.toggle'}}" aria-labelledby="tooltip-label" aria-haspopup="true" aria-expanded="false" role="button"></span>
                                                        <div class="field-tooltip-content" data-target="dropdown" aria-hidden="true">
                                                            Izdelek je na zalogi v skladišču uvoznika v Ljubljani<br /><br/>
                                                            <strong>Predviden rok dostave:</strong><br />
                                                            Dostava na vaš naslov predvidoma v roku 2 - 4 delovnih dni<br />
                                                            <strong>Osebni prevzem v trgovini v Ljubljani:</strong><br />
                                                            V roku 1 - 2 delovnih dni
                                                        </div>
                                                    </div>
                                                </div>
                                            <?php else: ?>
                                                <div class="stock unavailable" title="<?= /* @escapeNotVerified */ __('Availability') ?>">
                                                    <span><?= /* @escapeNotVerified */ __('Out of stock') ?></span>
                                                </div>
                                            <?php endif; ?>
                                        <?php endif; ?>


                                        <?php
                                            if ($this->helper('Magento\Catalog\Helper\Data')->isModuleOutputEnabled('Swissup_FeaturedAttributes')) {
                                                echo $block->getLayout()
                                                    ->createBlock('Swissup\FeaturedAttributes\Block\Attributes')
                                                    ->setProduct($_product)
                                                    ->toHtml();
                                            }
                                        ?>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        <?php } ?>
    </div>
    <div class="toolbar-bottom">
        <?php echo $block->getToolbarHtml() ?>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        
        </script>
    <?php endif; ?>
<?php endif; ?>
