<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$product = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');

//echo "Product Id: " . $product->getId();
//echo " Store Id: " . $storeManager->getStore()->getStoreId();

$collection = $block->getProductPriceLog($product->getId(), $storeManager->getStore()->getStoreId());
$timeValues = $block->getTimeValues($collection);
$priceValues = $block->getPriceValues($collection);
$minPriceValue = $block->getMinPriceValue($collection);
?>
<?php if($minPriceValue): ?>
<button id="eu-price-history-log-button" type="button" class="collapsible"><?=__('Lowest price in 30 days')?>: <?= $block->getFormatedPrice($minPriceValue) ?></button>
<div class="dropdown-content">
	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</div>
<script>
	var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
<script type="text/javascript">
require([
	'jquery',
	'https://unpkg.com/frappe-charts@latest'
], function(jQuery, frappe) {
	let chart = new frappe.Chart( "#chartContainer", { // or DOM element
	data: {
		labels: [<?= implode(", ", $timeValues) ?>],
		datasets: [
			{
				name: "<?= __('Product price')?>", chartType: 'line',
				values: [<?= implode(", ", $priceValues) ?>]
			}
		]
	},

	title: "<?= __('Price movements in last 30 days')?>",
	type: 'axis-mixed', // or 'bar', 'line', 'pie', 'percentage'
	height: 300,
	colors: ['red'],
	axisOptions: {
		xIsSeries: true
	},
	tooltipOptions: {
		formatTooltipX: d => (d + '').toUpperCase(),
		formatTooltipY: d => d,
	}
  });

  //chart.export();
});
</script>
<?php endif; ?>