<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Google Analytics GA4 by Amasty
 */

use Amasty\GA4\Block\Adminhtml\System\Config\JsonExportButton;
use Magento\Framework\Escaper;

/** @var JsonExportButton $block */
/** @var Escaper $escaper */
?>

<button class="scalable primary"
        type="button"
        id="<?= $block->getHtmlId() ?>"
        title="<?= $escaper->escapeHtml($block->getButtonLabel()) ?>"
        data-mage-init='{"Amasty_GA4/js/export-json": {
            "exportUrl": "<?= $escaper->escapeUrl($block->getExportUrl()) ?>",
            "website": "<?= $escaper->escapeJs($block->getWebsite()) ?>",
            "store": "<?= $escaper->escapeJs($block->getStore()) ?>"
         }}'>
    <span id="<?= $block->getHtmlId() ?>_result">
        <?= $escaper->escapeHtml($block->getButtonLabel()) ?>
    </span>
</button>
