<?php

use Leanpay\Payment\Api\Data\InstallmentInterface;
use Leanpay\Payment\Block\Installment\Pricing\Render\DefaultPriceBox;
use Leanpay\Payment\Helper\InstallmentHelper;

/** @var DefaultPriceBox $block */

$price = $block->getLowestInstallmentPrice();
$viewKey = $block->getData('view_key') ?? InstallmentHelper::LEANPAY_INSTALLMENT_VIEW_OPTION_PRODUCT_PAGE;
$helper = $block->getInstallmentHelper();
$canShow = $helper->canShowInstallment($viewKey);
$fontSize = $helper->getFontSize($viewKey);
$color = $helper->getInstallmentColor();
?>
<?php if ($viewKey !== InstallmentHelper::LEANPAY_INSTALLMENT_VIEW_OPTION_PRODUCT_PAGE): ?>
    <?php if ($price && $canShow): ?>
        <div class="installment-price" style="color: <?= $color ?>; font-size: <?= $fontSize ?>px;">
            <?= __('ali od %1 € / mesec', $price); ?>
        </div>
    <?php endif; ?>
<?php else: ?>
    <?php if ($price && $canShow): ?>
        <div class="installment-wrapper" data-mage-init='{"Leanpay_Payment/js/installment":""}'>
            <span class="installment-wrapper-start"><?= $block->escapeHtml(__('ali')); ?></span>
            <div class="installment-additional-wrapper">
                <div class="installment-plans" style="font-size: <?= $fontSize ?>px;">
                    <div class="installment-block-wrapper">
                        <?php $list = $helper->getInstallmentList($block->getAmount()); ?>
                        <span class="installment-block">
                            <?= $block->escapeHtml(__('Hitro in enostavno obročno odplačevanje')); ?>
                        </span>
                        <span class="installment-min-price">
                        <span class="installment-price" style="background-color:<?= $helper->getBackgroundColor(); ?>;">
                            <?= $block->escapeHtml(__('Že od')); ?>
                            <strong>
                                <?= $block->escapeHtml(__('%1 €', $block->getLowestInstallmentPrice())); ?>
                            </strong>
                        </span>
                        <span class="installment-message"
                              style="border: 1px solid <?= $helper->getBackgroundColor() ?>;"><?= $block->escapeHtml(__('Vaš mesečni obrok')); ?></span>
                        </span>
                    </div>
                </div>
                <div class="installment-mouse">
                    <div class="installment-info">
                        <div class="installment-deposit">
                            <span
                                class="deposit"><?= $block->escapeHtml(__('+ %1 € polog', $helper->getDownPaymentRule($block->getAmount()))) ?></span>
                        </div>
                        <div class="installment-logo-wrapper">
                            <span class="installment-logo-text"><?= $block->escapeHtml(__('Izračun obrokov')); ?></span>
                            <span class="installment-logo-span">
                                <img class="installment-logo" src="<?= $block->getLogo(); ?>" alt="leapay-logo"/>
                            </span>
                        </div>
                    </div>
                    <div class="installment-tooltip hidden">
                        <div class="installment-title">
                            <img class="installment-logo" src="<?= $block->getLogo(); ?>" alt="leapay-logo"/>
                        </div>
                        <div class="installment-plans">
                            <div class="installment-lowest-amount">
                                <?php $data = $helper->getToolTipData($block->getAmount(), true); ?>
                                <?php if (isset($data[InstallmentInterface::INSTALLMENT_AMOUNT], $data[InstallmentInterface::INSTALLMENT_PERIOD])): ?>
                                    <?php
                                    $term = $data[InstallmentInterface::INSTALLMENT_PERIOD];
                                    $amount = $data[InstallmentInterface::INSTALLMENT_AMOUNT];
                                    ?>
                                    <span class="installment-lowest-message">
                                     <?= $block->escapeHtml(__('Želim čim nižji obrok')); ?>
                                    <strong><?= $block->escapeHtml(__('%1 x %2€', $term, $amount)); ?></strong>
                                    </span>
                                <?php endif; ?>
                            </div>
                            <div class="installment-lowest-term">
                                <?php $data = $helper->getToolTipData($block->getAmount(), false); ?>
                                <?php if (isset($data[InstallmentInterface::INSTALLMENT_AMOUNT], $data[InstallmentInterface::INSTALLMENT_PERIOD])): ?>
                                    <?php
                                    $term = $data[InstallmentInterface::INSTALLMENT_PERIOD];
                                    $amount = $data[InstallmentInterface::INSTALLMENT_AMOUNT];
                                    ?>
                                    <span class="installment-lowest-message">
                                        <?= $block->escapeHtml(__('Odplačati želim čim prej')); ?>
                                        <strong><?= $block->escapeHtml(__('%1 x %2€', $term, $amount)); ?></strong>
                                    </span>
                                <?php endif; ?>
                            </div>
                            <div class="installment-slider-term">
                                <div class="term-text">
                                    <?= $block->escapeHtml(__('Želim si izbrati svoje obroke')); ?>
                                </div>
                                <div class="term-html">
                                    <span class="installment_period">
                                    </span>
                                    <span class="installment_amount"></span>
                                </div>
                                <div class="installment-slider"></div>
                                <div class="total-html">
                                    <span><?= $block->escapeHtml(__('Informativni znesek za plačilo')); ?></span>
                                    <span class="total"></span>
                                </div>
                            </div>
                        </div>
                        <div class="installment-quick-information">
                            <?= $block->escapeHtml(__('Leanpay omogoča hitro in enostavno obročno odplačevanje preko spleta. Za obročno plačilo v košarici izberi Leanpay.')); ?>
                        </div>
                        <div class="installment-links">
                            <a href="<?= $helper->getCheckYourLimitURL(); ?>" target="_blank" rel="noopener noreferrer">
                                <span class="link-option"><?= $block->escapeHtml(__('Preveri svoj limit')); ?></span>
                            </a>
                            <a href="<?= $helper->getMoreInfoURL(); ?>" target="_blank" rel="noopener noreferrer">
                                <span class="link-option"><?= $block->escapeHtml(__('Več informacij')); ?></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="installment-slider-data" style="display: none; visibility: hidden;">
            <?= $block->getJsonConfig() ?: ''; ?>
        </div>
    <?php endif; ?>
<?php endif; ?>
