<?php /** @var $block \Swissup\Attributepages\Block\Option\OptionList */ ?>
<?php
    $_optionCollection = $block->getLoadedOptionCollection();
    $_blank = $this->getViewFileUrl('images/blank.gif');
?>
<?php if ($_optionCollection || $_optionCollection->count()) : ?>
<?php
    $helper = $block->getOptionGroupHelper();
    $imageHelper = $block->getImageHelper();

    $_collectionSize = $_optionCollection->count();
    $_columnCount    = $block->getColumnCount();

    // block
    $btitle = $block->getTitle();
    $burl = $block->getUrl().$block->getIdentifier();
?>
<div class="brand-slider">
    <div class="title-home-page">
        <span><?php echo __('Znamke'); ?></span>
    </div>
    <div class="brand-content">
        <div class="slider-content">
            <div class="owl-carousel">
                <?php foreach ($_optionCollection as $_option): ?>
                <?php
                    $_optionTitle  = $block->escapeHtml($_option->getTitle());
                    if($image = $_option->getThumbnail()) {
                        $resizedImageUrl = $imageHelper->init($_option, 'thumbnail')->resize(188, 120);
                    } else {
                        continue;
                    }
                ?>
                <div class="item">
                    <a href="<?php echo $_option->getUrl() ?>" title="<?php echo $_optionTitle ?>">
                        <img src="<?php echo $resizedImageUrl; ?>" alt="<?php echo $_optionTitle ?>" />
                    </a>
                </div>
                <?php endforeach; ?>
                <script type="text/javascript">
                    require([
                        'jquery',
                        'owlcarousel'
                    ], function ($) {
                        $(".slider-content .owl-carousel").owlCarousel({
                            autoplay:true,
                            loop:true,
                            nav : true, 
                            dots: true,
                            autoplaySpeed : 500,
                            navSpeed : 500,
                            dotsSpeed : 500,
                            autoplayHoverPause: true,
                            margin:0,
                            
                            responsive: {
                                0: {
                                    items: 2
                                },
                                480: {
                                    items: 3
                                },
                                768: {
                                    items: 4
                                },
                                991: {
                                    items: 5
                                },						
                                1200: {
                                    items: 6
                                }
                            }
                        });	  
                    });			
                </script>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <a href="<?php echo $burl; ?>" class="more" title="<?php echo $btitle; ?>"><?php echo __('pokaži več') ?></a>
</div>
<?php endif; ?>