<?php /** @var $block \Swissup\Attributepages\Block\Attribute\View */ ?>

<?php
if($block['current_page']['image']) {

    $image = $this->helper('\Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'swissup/attributepages'.$block['current_page']['image'];
    $width = '1600'; 
    $height = '620';
    $resizeSettings = array(
        'constrainOnly' => false,
        'keepAspectRatio' => true,
        'keepTransparency' => true,
        'keepFrame' => true,
        'backgroundColor' => null,
        'quality' => 85,
    );
    // resize
    $imageResizer = $block->getImageResizer();
    $resizedImageUrl = $imageResizer->resizeAndGetUrl($image, $width, $height, [$resizeSettings]); ?>
<div class="banimg">
    <img src="<?php echo  $resizedImageUrl; ?>" title="<?php echo $block['current_page']['name'] ?>" />
</div>
<?php } ?>


