<?php /** @var $block \Swissup\Attributepages\Block\Attribute\View */ ?>

<?php
if($block['current_page']['thumbnail']) {

    $image = $this->helper('\Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl().'swissup/attributepages'.$block['current_page']['thumbnail'];
   ?>
<div class="logimg">
    <img src="<?php echo  $image; ?>" title="<?php echo $block['current_page']['name'] ?>" />
</div>
<?php } ?>


