<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile


?>
<div class="block newsletter block-subscribe">
    <div class="block-title"><h3><?php /* @escapeNotVerified */ echo __('Sign up to Newsletter') ?></h3></div>
        <form class="form subscribe"
            novalidate
            action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
			<div class="block-content">
				<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('newsletter_coupon')->toHtml();?>
				<div class="field newsletter input-box">
					<label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
					<div class="control">
						<input name="email" type="email" id="newsletter" class="input-text"
									placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
									data-validate="{required:true, 'validate-email':true}"/>
					</div>					
					<div class="actions">
						<button class="action subscribe button" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
							<span><?php /* @escapeNotVerified */ echo __('Sign up') ?></span>
						</button>
					</div>
				</div>
			</div>
        </form>
</div>
