<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Visual Merchandiser for Magento 2
 */
?>
<div data-role="merchandiser_assign_products_content" class="admin__old" style="display:none">
    <div id="merchandiser_assign_products_content" class="merchandiser-assign-products-content"></div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Amasty_VisualMerch/js/category/form": {
                "isCategoryDynamic": "<?= /* @noEscape */ $block->getIsCategoryDynamic() ?>",
                "changeDisplayModeUrl": "<?= $block->escapeUrl($block->getChangeDisplayModeUrl()) ?>"
            }
        }
    }
</script>
